[2016-10-31 00:22] declandewet opened #1 "Document using component props/data"

[2016-10-31 00:22] declandewet opened #2 "Add examples"
- [x] basic usage
- [x] basic render function usage
- [ ] using component data as data source
- [ ] using component props as data source
- [x] usage with `vue-router`
- [x] usage with `vuex`
- [x] async usage with `vuex`
- [ ] overriding parent `metaInfo`
- [ ] sibling `metaInfo` (not sure how this behaves atm)
- [ ] SSR with `renderToString`
- [ ] SSR with `renderToStream`
- [ ] disabling sanitiz

[2016-10-31 00:23] declandewet opened #3 "Write contribution guidelines"

[2016-10-31 00:23] declandewet opened #4 "Add missing info to package.json"

[2016-10-31 00:24] declandewet opened #5 "Configure + write tests"
- [x] configure tests
- [x] configure coverage
- [x] configure ci
- [ ] write tests

[2016-10-31 00:24] declandewet opened #6 "Implement metaInfo options"
### Props
- title
  - [x] client
  - [x] server
- titleTemplate
  - [x] client
  - [x] server
- base
  - [x] client
  - [x] server
- htmlAttrs
  - [x] client
  - [x] server
- bodyAttrs
  - [x] client
  - [x] server
- meta
  - [x] client
  - [x] server
- link
  - [x] client
  - [x] server
- script
  - [x] client
  - [x] server
- noscript
  - [x] client
  - [x] server
- style
  - [x] client
  - [x]

[2016-10-31 00:25] declandewet opened #7 "Sanitize rendered output"

[2016-10-31 01:06] #1 closed

[2016-10-31 06:46] declandewet commented on #4
closed in https://github.com/declandewet/vue-meta/commit/017fde49e88f0f5b0da555e974241c8a9b9b992e

[2016-10-31 06:46] #4 closed

[2016-11-03 06:21] declandewet opened #8 "CDN Distribution"

[2016-11-03 17:08] #6 closed

[2016-11-04 19:14] liqueflies opened #9 "Children components of render functions"
I'm using ```vue-meta``` on a children component of a render function that use ```createElement``` to render a component ```List``` with different props given by routes.

The method ```beforeMount``` is called everytime I change the route (tried to log on it), but metaInfo updates only at first render (logged on title() method as suggested by docs), how is it possible? If i use ```metaInfo``` on c

[2016-11-04 20:47] declandewet commented on #9
Hi @liqueflies - thank you for giving `vue-meta` a try. I'm not exactly sure what you're asking here - are you experiencing a bug? Is the `metaInfo` of the child component not being included in your data?

[2016-11-04 23:53] liqueflies commented on #9
Okay maybe I didn't explain what was my problem :)

Two of my routes:

[code]

switch function (the render function):

[code]

MyChildComponent:

[code]

The title of MyChildComponent should show ```home``` or ```about```.
But show the correct one only at first app run, not when i change the route clicking a link.

I tried to move metaInfo to switch function and it works:

[code]
I think I'm encou

[2016-11-05 00:20] declandewet commented on #9
Out of interest, what version of `vue-meta` are you using? The one from `npm`?

[2016-11-05 00:25] liqueflies commented on #9
Yes, the One from npm.

[2016-11-05 00:30] declandewet commented on #9
Try uninstalling it and re-installing using Github as a source:

[code]

`vue-meta` is not yet ready for a release on `npm` yet - I'm still working on getting it to a full working state.

[2016-11-05 11:25] liqueflies commented on #9
Hi, yes found now the disclaimer :)

If I install from github, there is no main file, so I have to import from 'vue-meta/src' it gives me ```Uncaught SyntaxError: Unexpected token import``` error. Using ```vue-cli``` with ```webpack```.

If you know how to handle the error, or I'll wait for stable release on ```npm```.

Keep working on it, really good! :) 👍

[2016-11-05 11:29] declandewet commented on #9
That's because the Github version isn't transpiled - The `main` field points to `lib/`, so you have two options - compile it with `npm run build` or add it to your resolver in your Webpack config. Or just wait for the official release :smile:

[2016-11-05 11:50] liqueflies commented on #9
Following your tips, I simply excluded ```vue-meta``` from exclude loaders on ```webpack```, but I'm still encountering the same issue: the child component rendered with a function from parent not switch on ```router-link``` but only at first app run. The other lifecycle methods are called everytime i click on link.

[2016-11-05 11:52] declandewet commented on #9
I see - since this is pretty edge-case I'm going to add a test case for it after the initial release. Use your workaround for now.

[2016-11-05 13:54] declandewet commented on #8
This is now configured to automatically happen on `npm publish`. https://github.com/declandewet/vue-meta/commit/761ddb0f34b67b14706db9dcd80bc566471d6b7a

[2016-11-05 13:54] #8 closed

[2016-11-06 14:39] cannap opened #10 "Vuex / Computed Prop"
Hi,

What is the best way to get the title from a Vuex getter?

Current problem is my Title is not the same as in the Post on the page first after a F5 Refresh the title is correct

[code]

Also the title in post.title != my title in metaInfo but its should i dont know its a problem because async

[code]

When i use in Simple Components works fine

//E maybe the problem is from my side how i handl

[2016-11-06 17:50] Atinux commented on #9
Hey @declandewet

Do you have an ETA for the official release?

[2016-11-06 18:50] declandewet commented on #10
Thanks for the report @cannap - it seems as if this **is** related to #9. I will have a look at it tomorrow (its night time here)

[2016-11-06 18:52] declandewet commented on #9
@Atinux I'm aiming for either tomorrow or the day after. :smile:

[2016-11-06 18:54] Atinux commented on #9
👏
I'm having a prototype of nuxt.js working, missing vue-meta to rock 😄

[2016-11-07 05:07] declandewet commented on #9
That's great news @Atinux 🎊

@liqueflies I think I've found the issue - although, it's not a bug in `vue-meta`. It's to do with the way Vue handles VNodes in render functions - [According to the docs](https://vuejs.org/v2/guide/render-function.html#Constraints), VNodes have to be unique.

In your example, the issue is remedied by making `MyChildComponent` a factory function that returns a new sing

[2016-11-07 05:24] #9 closed

[2016-11-08 02:08] declandewet commented on #9
As it turns out, this was being caused by the same logic that causes #10. I've implemented a crude fix in https://github.com/declandewet/vue-meta/commit/6ad56ec73e428316c2e4c115274ca655024c2810

You should be able to use your original syntax now @liqueflies  🎉

[2016-11-08 08:06] declandewet opened #11 "v0.1.0"

[2016-11-08 09:09] declandewet commented on #10
Hi @cannap!

I submitted a fix for this in https://github.com/declandewet/vue-meta/commit/6ad56ec73e428316c2e4c115274ca655024c2810

I also put together [an example](https://github.com/declandewet/vue-meta/blob/master/examples/vuex/app.js) for you to look at on how to use Vuex getters.

[2016-11-08 09:09] #10 closed

[2016-11-08 11:29] Atinux opened #12 "Adding options `keyName`"
Hi!

I think it could be great to set the keyName as an option when installing `vue-meta`:

[code]

So then, in my components, I can do:
[code]

I want to implement it in nuxt.js as similar as in next.js, the component name is <Head>, so a key `head` seems the best name to making it similar (even if vue-meta can update more than inside the <head>, which rocks 🚀 )

I you like the idea, I can try to

[2016-11-08 11:38] Atinux commented on #12
**Better idea: **

Do you think it's possible that I create my own component `<nuxt-head>` which change the `metaInfo` data of the component *or* talk to `vue-meta` to tell it the metaInfo data ?

I believe that `vue-meta` load the the `metaInfo` when the Component is instantiated, is there any way to make the metaInfo reactive? Or to call something like `this.$meta.refresh()`?

[2016-11-08 13:57] cannap commented on #10
Hi, is this already on npm? or should i just use the github version and compile by my self

[2016-11-08 14:14] declandewet commented on #10
@cannap it's not on NPM yet because it's not what I would consider stable enough to be released :wink: - use the github version for now, and make sure it's not in your Webpack excludes

[2016-11-08 14:15] cannap commented on #10
Hi, yes i updated via github and checked the example
when the action is async
[code]

same problem

[2016-11-08 14:29] declandewet commented on #10
@cannap Ah! I see what you mean! I'll have a look at it tonight. Getting a fix in for this will be tricky, though.

[2016-11-08 14:33] cannap commented on #10
good i cant wait to use this thing 🗡 i waited since vue 2.0 for something like this 🗡  because i had no idea how to make my own my first solution was reading the store on server but this was ugly

[2016-11-08 14:52] declandewet opened #13 "Asynchronous Actions Prevent Meta Info Updates"
Due to non-reactivity. If a property is `null` before reference, (as is the case when using a Vuex action to asynchronously fetch data) Vue throws an error and the title does not update, it instead refers to old data. See https://github.com/declandewet/vue-meta/issues/10#issuecomment-259147101 for more info.

[2016-11-08 14:55] declandewet commented on #12
Hi @Atinux - I do have plans to support these `options`:

- `keyName`: the name of the meta info key (default: `metaInfo`)
- `attribute`: the attribute that vue-meta uses to identify the tags it cares about (default: `data-vue-meta`
- `ssrAttribute`: the attribute that vue-meta uses to determine server rendering and if it should halt on client-side hydration on initial render (default: `data-vue-m

[2016-11-08 15:25] declandewet commented on #10
Same - I'm building it because I'm _really_ going to need something like it soon :D

[2016-11-08 15:59] Atinux commented on #12
It's great for the `options` 👏

Actually, I think the easiest wait to resolve #10, #13 and also making the `<nuxt-head>` component possible will be to add a `refresh()` method to `this.$meta`, this method will only to:
[code]

Example:
[code]

This should make the title of the page to Default title and then after 2 seconds to Title updated.

[2016-11-08 16:03] declandewet commented on #12
It would have to be `$metaRefresh`, as `$meta` is a function (it cannot be a regular property) used for SSR injection.

Also, due to the way I'm grabbing the deeper-most nested components, `data` is prone to being overwritten and thus `return this.title` in your example above might evaluate to `null` despite the presence of the default data.

It's a weird little tradeoff so I'm trying to look for

[2016-11-08 16:09] Atinux commented on #12
I changed my example to be: `this.$meta().refresh()`

I'm not sure why `this.title` will be overwritten by any other deeper component. You give the context of the actual instance while calling the title() method right?

I think it's a bug if `this.title` return null despite the precense of the default data.

[2016-11-08 16:15] Atinux commented on #12
I believe `$meta()` should be shared between client and server.

`.inject()` is only a JavaScript function an can be called from the client-side without problems
`.refresh()` can be called from the client-side, and if from the server-side, will call `.inject()`

[2016-11-08 17:30] declandewet commented on #12
@Atinux

Because of inconsistencies and a hack. A few hours ago, I tested to see if calling `this.title` would work in an asynchronous dispatch, but it did not, despite having the default `data` ready.

Originally, I iterated through each component in the render hierarchy recursively, calling `fn = fn.bind(component)` to set the context inside `getComponentOption` when a new component was encounte

[2016-11-09 05:29] declandewet commented on #13
Resolved in https://github.com/declandewet/vue-meta/commit/076832cbd6b2ffcc804fcdb2a9edd438c58573b5

[2016-11-09 05:29] #13 closed

[2016-11-09 05:31] declandewet commented on #12
Hey @Atinux - After much trial and error, I gave up on trying to find a magical way of solving this and I added the `refresh` method as you've suggested in https://github.com/declandewet/vue-meta/commit/076832cbd6b2ffcc804fcdb2a9edd438c58573b5

[2016-11-09 05:34] declandewet commented on #10
@cannap - the "fix" has landed! :tada: https://github.com/declandewet/vue-meta/commit/076832cbd6b2ffcc804fcdb2a9edd438c58573b5

You can check out this example to see how handling async actions is done: https://github.com/declandewet/vue-meta/tree/076832cbd6b2ffcc804fcdb2a9edd438c58573b5/examples/vuex-async

[2016-11-09 08:52] #11 closed

[2016-11-09 10:32] cannap opened #14 "Merge default Metadata"
Hi, i have a idea for Defaults

As example

In my app.vue i have

[code]
and when i open my Home.vue
which comes from `<router-view></router-view>` in my App.vue

[code]
Will overwrite my whole meta tags and og_sitename is gone

i could just make my own function which will merge both objects but then i need todo this over and over
i think a i simple solution would be pass the defaults via Options

[2016-11-09 10:53] declandewet commented on #14
That shouldn't be happening and is not how it works in the app I use to test `vue-meta`, but I do spot something wrong with your code. Try this:

App
[code]

Home
[code]

[2016-11-09 11:09] cannap commented on #14
thx, i tested,
i got same Result as before  og_sitename is gone

[code]

Any in my Home
i have
[code]

[2016-11-09 11:13] cannap commented on #14
nvm i fixed thank you

[2016-11-09 11:26] cannap commented on #14
i found something
When i use
[code]
In my Home then its works but when i use meta() {} as function the it overwrites

[2016-11-09 11:27] declandewet commented on #14
@cannap that's a bug - I'll do a little test later to see if I can reproduce it. Thanks!

[2016-11-09 11:28] cannap commented on #14
awesome :D

[2016-11-09 12:18] Atinux commented on #12
Hey @declandewet

Nice work on implementing it so fast!

I think you're going to laugh... I just found a solution to update *magically* the meta without having to call `refresh()` 😄

All you have to do is to set `metaInfo` as a method instead:
[code]

Then, you just have to add 2 methods in your mixin in `src/shared/plugin.js`:
[code]

I did not tested it inside `vue-meta`, but you can see my demo

[2016-11-09 12:23] declandewet commented on #12
That's brilliant @Atinux - why don't you PR it in? :D If not, I will try get it working on a feature branch as soon as I've investigated #14.

[2016-11-09 12:27] Atinux commented on #12
I would but actually I have to work on something else sorry. At first I wanted to congratulate you for implementing `refresh()` but then the idea of the computed property popped up in my mind so I had to try it and let you know 😄

[2016-11-09 12:46] Atinux commented on #12
And before implementing it, it should use the keyName instead of the `metaInfo` property:
[code]

If I got some time, I will PR with pleasure!

[2016-11-10 05:55] declandewet commented on #12
The more I look at this, and the more I look at #14, the more I'm starting to think that `metaInfo` should just always be a function. It would simplify a lot of code and get rid of a lot of potential bugs.

[2016-11-10 13:26] Atinux commented on #12
I think it should be either an object (with static data) or a function.

This would do the trick:
[code]

[2016-11-10 13:34] declandewet commented on #12
Way ahead of you @Atinux - #15 😛

I'm not going to be implementing the `computed` / `watch` stuff yet though. I'll be doing that after I support options for changing the key/attribute names.

[2016-11-10 13:58] #14 closed

[2016-11-10 14:04] declandewet commented on #14
I have some good news @cannap!

This bug has been fixed - _but_ it's a breaking change. That being said, update to the new version:

[code]

Then change your `metaInfo` to look like this:

[code]

[2016-11-10 14:06] Atinux commented on #12
Nice work @declandewet 👏

It makes sense to implement the options before. I'm thrilled to see it working with computed/watch so we won't have to call `this.$meta.refresh()` anymore :)

I just think that we should be careful if a parent component data change (and use it in metaInfo) and one child component use this data as well inside its metaInfo), maybe using _.debounce(this.$meta.refresh.bind(th

[2016-11-10 14:15] declandewet commented on #12
@Atinux If I move the batching logic into `$meta().refresh`, then that problem will be solved :smile:

[2016-11-10 14:25] cannap commented on #14
Hi thx i update but i cant

this works:

[code]

but this not:

[code]

[2016-11-10 18:17] declandewet opened #17 "Watch for changes"
Posting this here because #12 is about custom options

@Atinux posted a really cool idea: https://github.com/declandewet/vue-meta/issues/12#issuecomment-259401938

To watch for changes via the use of a computed property and react to those changes by calling `$meta().refresh()` automatically. This would remove the need to manually manage asynchronous updates.

[2016-11-10 18:24] #12 closed

[2016-11-10 18:28] declandewet commented on #12
@Atinux `vue-meta` supports custom options now. I also moved the watch suggestion to its own issue: #17

[2016-11-10 20:31] #17 closed

[2016-11-12 12:17] Atinux commented on #14
Actually it seems that I have the same behaviour as @cannap
Is this issue resolved and is there test associated to it @declandewet ?

[2016-11-12 13:25] cannap commented on #14
@Atinux  for me is resolved i will try later again and check but for now it just works

[2016-11-12 13:46] declandewet commented on #14
@Atinux it *should* be resolved. However, there are no tests. I do plan on adding test cases for everything, but I have today, tomorrow and Monday to study for a very important exam I'm writing on Tuesday so I will only be adding these tests after then.

In the meantime, post your code here and I'll see if I can spot anything you might be doing wrong :)

[2016-11-14 19:43] Atinux commented on #14
I found the bug when **vmid** is *undefined*, I added the check in #19

So I was not doing anything wrong :)

[2016-11-16 19:08] Atinux opened #21 "window.cancelAnimationFrame is not a function"
I was testing nuxt with jsdom and it does not work anymore because of vue-meta and it's use of `requestAnimationFrame`, futhermore it is not supporter in IE < 10

What do you think to polyfill it with https://www.npmjs.com/package/raf?

[2016-11-16 19:15] Atinux commented on #21
But this will do the work as well: https://gist.github.com/paulirish/1579671

[2016-11-16 20:28] declandewet commented on #21
@Atinux aware of the issue - I'm not keen on including an entire polyfill just for the sake of a utility function. Polyfills belong in user-land - what if my polyfill overwrites another polyfill in some other random library being used on the same webpage? Things would break.

I am happy however to just fallback on `setTimeout`:

[code]

I will be back in full force on this tomorrow - I know I said

[2016-11-16 20:34] Atinux commented on #21
It's even better to fallback with setTimeout 👍🏻

[2016-11-16 21:04] #21 closed

[2016-11-17 08:27] achen224 opened #25 "Uncaught TypeError: plugin.apply is not a function When Running Karma unit test"
Hello,

I've installed the plugin with npm and imported it in my router

Code:
[code]

after this, Karma unit test throw error

Error:
[code]

Any idea?

Thank's :)

[2016-11-17 10:31] declandewet commented on #25
Hi @achen224 - thanks for the report.

I've tried reproducing your issue but it works for me. Could you perhaps provide more info?

[2016-11-18 14:47] lijiakof commented on #25
I use it base on vue 2.0.5，and has the same error.Uncaught TypeError: plugin.apply is not a function(…) vue.common.js:3219

[2016-11-18 17:25] declandewet commented on #25
@lijiakof are you passing any options to `vue-meta`? can I see some code that depicts how you're using `vue-meta`? would be a big help 👷

[2016-11-18 17:31] Atinux commented on #25
@declandewet @lijiakof I had the same error with nuxt.js when using vue-meta, it's because of `jsnext`, it was fixed by importing vue-meta this way:
[code]

I believe it is because on the jsnext import (trough Webpack), Vue does not check the `module.default` here: https://github.com/vuejs/vue/blob/dev/dist/vue.common.js#L3220

[2016-11-18 17:33] declandewet commented on #25
Thanks @Atinux - I will look into a fix for this shortly

[2016-11-18 17:37] achen224 commented on #25
Hey @declandewet  thx for reply.

my project base on vue2+vue-router+vuex with SSR bundle by webpack 2.0

i find some intristing...and everything ok... but maybe it's not good
below is my change

**before :**

App.js
[code]

/router/index.js
[code]

**after:**

App.js
[code]

/router/index.js
[code]

[2016-11-18 17:40] declandewet commented on #25
Definitely a module resolution problem then - I'll investigate how the ES2015 build (https://github.com/declandewet/vue-meta/blob/7da1a5a72a75926eb431d5cebea30cdad6a715d9/package.json#L60) is compiled

thanks @achen224

[2016-11-18 17:41] declandewet commented on #25
For now, you can use this workaround:

[code]

[2016-11-18 17:48] achen224 commented on #25
thanks @declandewet @Atinux

[code]

is better solution for now

[2016-11-19 22:10] Atinux opened #27 "Twitter cards meta bug?"
Website: https://nuxt-head-elements.now.sh/about

You can take a look at the source code, there is:
[code]

But if you try to check the meta tags here: https://cards-dev.twitter.com/validator

It says that no meta tags has been found.

Same for some other meta checker like http://www.seocentro.com/tools/search-engines/metatag-analyzer.html

Do you think it's because of the `n-head` attribute or `h

[2016-11-20 11:46] declandewet commented on #27
Hi @Atinux - I've run into this issue before on a few projects long before making `vue-meta` - I think the issue here is that your response is not sending a `Content-Type` header of `text/html`

<img width="462" alt="screen shot 2016-11-20 at 1 43 02 pm" src="https://cloud.githubusercontent.com/assets/1918632/20462478/70789892-af27-11e6-86b1-f88e53304f14.png">

Try adding that header and see if it

[2016-11-20 14:35] Atinux commented on #27
Fixed by adding `Content-Type` `text/html`, you rock, thank you!

[2016-11-20 14:35] #27 closed

[2016-11-23 05:27] #25 closed

[2016-11-23 14:24] #7 closed

[2016-11-24 20:04] JosephSmith127 opened #31 "Cannot convert undefined or null to object(…)"
I have it setup with vue-router.

whenever I do the Vue.use(VueMeta); I get the current console error and it doesn't load my component.

`vue-meta.js?ffcf:1151Uncaught TypeError: Cannot convert undefined or null to object(…)`

[2016-11-24 22:03] declandewet commented on #31
Hi @JosephSmith127 - I have not run into this bug and have tests that indicate it works as it should, and I don't see any similar errors in [Nuxt.js](https://github.com/nuxt/nuxt.js), which uses `vue-meta`.

Could you help me out here and provide a little more info so I can try to reproduce this? Any of the following info (the more the better) will help:

- Node.js version
- `vue` version
- `vue-r

[2016-11-25 11:11] JosephSmith127 commented on #31
yeah sure, so its with the latest laravel build.

Vue 2.0.1
VueRouter 2.0.3
and VueMeta 0.5.2

my node version is v6.9.1

and within my vue component of one of my routes I have put...

[code]

[2016-11-25 21:30] declandewet commented on #31
The only thing bothering me with your code sample is the trailing comma, but that's a matter of style. I'm not a PHP dev so it took me some time to set up a project that allowed me to replicate this bug you're reporting, but I can't seem to reproduce the issue. :/ It works for me.

I'll try to get some better error handling in before I release 1.0 that might outline a little better where these typ

[2016-11-26 07:50] jazoom opened #32 "Incorrect handling of metadata with navigation"
Say the `app.vue` parent component at route `/` has this property:

[code]

and a child component at route `/child` has this property:

[code]

When navigating to the child, the title changes correctly. Then when going back, the title stays as the child's title (it should go back to parent title). Then when navigating to the same child component (a different instance), the title flicks to 'undefin

[2016-11-30 23:07] declandewet commented on #32
Hi @jazoom - sorry for the late response. Unfortunately I wasn't able to iterate as fast as I planned on this project and have found myself at a loss for free time while I setup my new business entity, but as soon as I've got some more time on my hands I will be working actively on this project again - should be ETA 1-2 weeks from now.

I did get some free time today to reproduce your issue, but h

[2016-12-02 14:07] Zwaen91 opened #33 "Style and Script not converted right"
In version 0.5.2 the style and script are not converted how they should.

[code]
[code]

[2016-12-02 20:11] declandewet commented on #33
Hi @Zwaen91 - I think I know what the issue is. Could you add `__dangerouslyDisableSanitizers: ['script']` to your `metaInfo` and see if it works?

[2016-12-04 11:47] Zwaen91 commented on #33
It works

[2016-12-04 11:47] #33 closed

[2016-12-04 23:29] microcipcip opened #34 "Allow special characters"
Hi, how do you allow special characters?
For example, if you have `This is my title's`, it will render as `This is my title&#39;s` which doesn't rendere correctly in the `title` tag

[2016-12-05 00:07] declandewet commented on #34
Hi @microcipcip - use `__dangerouslyDisableSanitizers`:

[code]

[2016-12-05 01:10] microcipcip commented on #34
Yes, that would be great, symbols like & and hyphen are quite common in the <title> and the meta tags :)

[2016-12-06 01:46] microcipcip commented on #34
I've open this again as I guess it should be discussed more, as the alternative ATM seems to be using that long function or use lodash unescape. I guess that that function is set globally and not for each component?

[2016-12-06 01:48] declandewet commented on #34
@microcipcip you're correct - since any deeply nested component overwrites it's parent `metaInfo`. I can't think of a use-case for per-component sanitization, and it would complicate things a little - but if there's a use for it, I'll consider it.

[2016-12-06 01:59] microcipcip commented on #34
I guess that a global setting is what I need in this case, better than use `__dangerouslyDisableSanitizers` in 20 components :)

[2016-12-07 11:00] declandewet commented on #34
I've dug more into this:

When server rendering, if `meta charset='utf-8'` is present, the correct title is displayed.
This is not true for a client render, as JavaScript does not understand HTML entity encoding, but rather character codes in the form of hexadecimal encodings.

This means that escaping content on the client side does not work as intended. This is therefore a bug.

I'm looking into

[2016-12-07 11:38] #34 closed

[2016-12-07 11:46] declandewet commented on #34
Hi @microcipcip - I've added a fix for this, could you update `vue-meta` & remove your `__dangerouslyDisableSanitizers` config and confirm if it works for you?

[2016-12-07 14:10] microcipcip commented on #34
Thanks, I'll update it this evening when I get back from work :)

[2016-12-08 20:58] microcipcip commented on #34
Hey, it works great, thanks a lot!

[2016-12-12 05:46] jazoom commented on #32
Hi, @declandewet, sorry it has taken a while. I've set up this project for you:

https://github.com/jazoom/demonstration

It is the same sort of setup that my app has, but very simplified. It perfectly demonstrates the issue. All you have to do is click one button then watch the title on the browser tab. Then press the browser's back button. Then click the other button.

[2016-12-12 05:46] jazoom commented on #32
It uses vbuild, so to set it up you just need to `yarn` or `npm install` then `npm run dev`.

[2016-12-13 16:53] declandewet commented on #32
Hi @jazoom - I see the issue(s). I'll have a look at fixing them as soon as I can. I think the failure to update the old title comes from your use of `router.push`, as this bug does not occur when navigating via `router-link` - still a bug though, so thanks for reporting.

As for `undefined` - I can do a null check, but would have to maintain a representation of old state which would complicate th

[2016-12-13 23:15] jazoom commented on #32
Isn't it possible to just not change the title (in a setter) if the value provided is falsy?

In that example I provided to you I used `router.push()`, but actually in my app I use a `<router-link>` for that purpose, and the bug is still there.

[2016-12-22 08:37] imcvampire commented on #31
There is a problem with this line https://github.com/declandewet/vue-meta/blob/master/src/shared/plugin.js#L31

`defaultOptions === undefined` when run in node

[2016-12-22 08:55] lbineau opened #40 "Replace existing meta"
If you have an already existing meta like description in the DOM (PHP server rendering) you may want to replace it instead of adding a new one. Is is possible ?

**version 0.5.3**
### MetaInfo in Vue's root
[code]
## Expected result
### Original tag
[code]
### Output
[code]
## Current result
### Original tag
[code]
### Output
[code]

[2016-12-22 08:57] lbineau opened #41 "data-vue-meta-server-rendered not working"
Even if I set data-vue-meta-server-rendered attribute and the meta tag is still generated on the initial page render. Maybe because of some ajax stuff before create Vue App instance. Anyone experience the same issue ?

**version 0.5.3**

[2016-12-22 15:06] imcvampire commented on #31
I just created a MR to fix this https://github.com/declandewet/vue-meta/pull/39

[2016-12-23 14:16] declandewet commented on #31
Thanks for the insight @imcvampire. I will look into your PR ASAP.

[2016-12-23 14:31] declandewet commented on #40
Hi @lbineau - If you're rendering on the server side using something other than Vue + Node.js (like PHP) then you should supply the `vmid` and `data-vue-meta` attributes yourself.

So instead of

[code]

You should:

[code]

I'd suggest writing a few utility functions on the PHP side just to reduce the boilerplate :)

`vue-meta` on the client side will ignore any tags that do not have a `data-vue-

[2016-12-23 16:28] lbineau commented on #40
Perfect thank you just what I needed !

2016-12-23 15:31 GMT+01:00 Declan de Wet <notifications@github.com>:

--
Lory Bineau
http://lbineau.com/

[2016-12-24 07:23] mehwww opened #42 "Doesn't work with vue-router + ssr"
It seems before the vue root instance `mounted`, its `$children` will be an empty array, so `getComponentOption` won't work properly cause we don't 'mount' instance in server side.

Anyone has the same issue ?

[2016-12-26 06:17] fenivana commented on #42
+1. won't work with nested routes.

[2016-12-28 22:45] Atinux commented on #42
Could you provide a https://gomix.com example to show this behaviour please?

[2016-12-29 06:46] mehwww commented on #42
Sorry it's my mistake using this lib wrong way. 😔

my code:
[code]

correct way:
[code]

@fenivana Maybe you meet some real bug but I will close this issue now.

[2016-12-29 06:46] #42 closed

[2016-12-29 16:10] jiangfengming opened #44 "renderToStream: first chunk too big cause vue-meta can't get correct meta info of child components"
In `stream.once('data', ...)`, if the first chunk is too big, the following child components haven't been created at the moment, so their `metaInfo` won't have effects.

Github: https://github.com/fenivana/vue-meta-streaming-issue

Run in node.js:

[code]

[2017-01-10 07:06] shyiko commented on #31
Explanation (& jsfiddle example) in #47.

[2017-01-10 14:18] #40 closed

[2017-01-22 20:40] codingfriend1 opened #51 "beforeMount is calling server side"
I'm not sure if this is an issue with your library, my setup or Vue itself.

But

[code]

this is being called server side. Even this.$isServer comes back true and it's throwing a document no found error. Technically I don't think beforeMount is supposed to run server side so this may be an issue with Vue.

[2017-01-23 21:13] pixelfriese opened #52 "Empty string is undefined"
Hi,

in my application I set an initial data variable as empty string in my component. My next step is to get the final value from an async call.

Within this time from initialization of the data variable and the overwrite from the ajax call the value is undefined. I have tested it without the ajax call and it is independent of it. If I have defined my variable in the data function of my component

[2017-02-01 19:13] john-ko opened #54 "__dangerouslyDisableSanitizers causing errors"
Hello, I'm new to vuejs and vue-meta

the issue is I am running into some errors on the client side and I have a working hack, but would like some insights on how to properly handle these errors

# the problem
I think that the vue-meta thinks `__dangerouslyDisableSanitizers` and its value `['script']` are properties and tries to continually traverse into the `['script']` array which then causes th

[2017-02-02 12:23] laosb opened #55 "imports not working on Meteor"
*Reproduction:*

[code]

Then import vue-meta on the client-side, results in:

![image](https://cloud.githubusercontent.com/assets/2545261/22549392/120e233c-e986-11e6-845e-3bf43827d50b.png)

akryum:vue-component should not be related to this problem though.

[2017-02-02 12:26] laosb commented on #55
Cross posted to akryum:vue-component at Akryum/meteor-vue-component#111

[2017-02-05 17:47] surmon-china commented on #54
Failed to execute 'setAttribute' on 'Element': '0' is not a valid attribute name.

I have the same problem

[2017-02-05 17:56] john-ko commented on #54
@surmon-china you can try the following hack as a workaround or use [WEBuster/vue-meta](https://github.com/WEBuster/vue-meta)

[2017-02-05 18:04] surmon-china commented on #54
@john-ko
thanks:)
 i will try

[2017-02-21 13:00] jeerbl opened #57 "JSON+LD Structured data"
Hi

As you know, Google is using JSON+LD markup to display structured data on results. Maybe it would be good having the possibility to include a JSON+LD script tag per page with `vue-meta`?

Cheers
Jerome

[2017-02-21 13:02] jeerbl commented on #57
Closing this as it is already possible. Should have drunk more coffee this morning... :/

[2017-02-21 13:02] #57 closed

[2017-02-21 13:39] jeerbl opened #58 "Script innerHTML set as attribute instead of script content"
Hi

I am trying to to set `innerHTML` to a script but actually the content is not inserted in the script but in the `innerHTML` attribute, therefore the `script` element contains nothing.

Trying to fix it in a PR.

Cheers
Jerome

[2017-02-21 13:46] jeerbl commented on #58
PR created (#59)

[2017-02-21 13:52] jeerbl commented on #58
Hey @declandewet

Just created PR #59 to fix this issue. Could you please check it? (Just a misuse of a variable).

Cheers
Jerome

[2017-02-22 09:19] jeerbl commented on #33
Hi

Does not work for me. `innerHTML` is still attached to the `script` element as an attribute. I opened #58 and PR #59 to fix this.

@Zwaen91 what version were you using?

Cheers
Jerome

[2017-03-02 05:07] bhabeshrai opened #62 "Title changes and goes empty when a modal is opened"
When a modal is opened on a click or a date picker is opened the title changes to an empty string

[2017-03-06 18:09] Atinux commented on #31
Fixed in the next release

[2017-03-06 18:09] #31 closed

[2017-03-14 11:51] jazoom commented on #52
I think this is the same as #32.

[2017-03-18 17:14] OlzhasAlexandrov opened #67 "Internal JS doesn't process properly with multiple keys"
Hello, I'm using nuxt and trying to add internal JS in JSON-LD format.
For the purpose to be short, I added just a couple of properties in the example. Without `__dangerouslyDisableSanitizers: ['script']`, it doesn't process `"` leaving it as `&quot;`
[code]

[2017-03-18 18:26] kodekrendel opened #68 "htmlAttrs: attribute without value doesn't work"
Hello. I am using nuxt/starter (taht using vue-meta) and trying to achieve `<html itemscope>`. Here's my code:
[code]
But it doesn't add that attribute in html tag. Other examples from this works fine, but `undefined` doesn't work - https://github.com/declandewet/vue-meta#recognized-metainfo-properties

[2017-03-19 08:04] zweizeichen commented on #54
As you can use JSON for embedding microdata (which I would guess is the main use case for disabling script sanitization), entirely skipping sanitization for scripts should not be necessary in that case. Maybe allow to pass a plain JS object in case you want to use JSON+LD which then gets serialized to JSON and put into an appropriate tag.

[2017-03-23 09:09] jeerbl commented on #58
Merged in #59

[2017-03-23 09:09] #58 closed

[2017-03-23 11:24] ezhkov commented on #67
The same thing. Documentation says that we should use `__dangerouslyDisableSanitizers(['script'])` but in that case I get console error
![vue-meta-error](https://cloud.githubusercontent.com/assets/568355/24245528/ad1f5ec8-0fdc-11e7-8f52-833515717ec4.png)

[2017-03-25 23:06] #62 closed

[2017-03-25 23:07] Atinux commented on #62
Please create a JSFidlle or a https://glitch.com/edit/ project to replicate this behaviour.

[2017-03-25 23:09] Atinux commented on #55
I'm closing this issue since it seems related to Meteor itself.

[2017-03-25 23:09] #55 closed

[2017-03-28 07:11] lc60005457 opened #70 "'link' should be 'href' but 'src'"
`<link rel="stylesheet" src="/css/index.css">`

`<link rel="stylesheet" href="/css/index.css">`

[2017-03-28 07:17] alexchopin commented on #70
Fixed 👍

[2017-03-28 07:17] #70 closed

[2017-03-30 07:34] zhouyu1993 opened #73 "when add option like '__dangerouslyDisableSanitizers' in Nuxt.js , something is wrong like 'Uncaught DOMException: Failed to execute 'setAttribute' on 'Element': '0' is not a valid attribute name.'"
[vue-meta in nuxt](https://forum.vuejs.org/t/inline-script-in-head-gets-mangled-when-routing-to-a-new-page-nuxt/7992)

`
script: [
    {innerHTML: "(function(h){h.className=h.className.replace('no-js','js')})(document.documentElement)"}
],
__dangerouslyDisableSanitizers: ["script"], // because of the inner quotes
`

From one route to another route, something is wrong like 'Uncaught DOMException: F

[2017-03-30 07:45] dohomi opened #74 "document on ssr = true is not defined"
Hello

I'm using nuxt and would like to know if its possible that there is currently a bug in vue-meta regarding of a document call on SSR: vue-meta line 825:
[code]
[code]

If ssrAttribute is set, and the server tries to render, vue-meta throws error. Any idea if this intend to work like this? I posted this on nuxt as well: https://github.com/nuxt/nuxt.js/issues/449
Thanks

[2017-04-01 16:10] Sleashe opened #78 "title.text() is empty"
Hi Guys,

I recently installed vue-meta to manage my titles, metas etc. This plugin is excellent so thanks a lot !
However I'm facing a few issues while trying to make it work with SSR.

I started my project from the well known official hackernews2 template. I precisely followed vue-meta plugin instructions regarding SSR but when I log context.meta.inject().title.text() when rendering on server, I

[2017-04-02 10:11] JiriChara commented on #74
Not sure if related, but you can also have a look on my latest comment https://github.com/nuxt/nuxt.js/issues/449#issuecomment-290976803

[2017-04-03 07:52] visualcookie opened #79 "Not working with vue-cli webpack"
Hi,

tried to get it working, but somehow it doesn't add the title, not even other meta data, which I set.

**router/index.js**
[code]

**App.vue**
[code]

**components/Homepage.vue** (excerpt)
[code]

[2017-04-06 10:01] #32 closed

[2017-04-06 10:07] Atinux commented on #79
Hi @visualcookie

You don't use [Vue.use](http://vuejs.org/v2/api/#Vue-use) correctly.

You should do:
[code]

[2017-04-06 10:07] #79 closed

[2017-04-06 10:08] Atinux commented on #78
Hi @Sleashe

Could you share your repo so we can try to help you to debug?

[2017-04-06 10:11] Atinux commented on #52
Should be fixed with #81

[2017-04-06 10:11] #52 closed

[2017-04-06 20:23] goldfire opened #82 "Getting "document is not defined" after upgrading to 0.5.6"
We've been using vue-meta with SSR on 0.5.5, but after upgrading to 0.5.6 we started getting the following errors on the server:

[code]

[2017-04-07 00:25] jubairsaidi commented on #82
Same here.  Here's my error using `0.5.6` (which I don't get using `0.5.5`)
[code]

For now I've reverted back to `0.5.5` but it would be nice to upgrade soon :)

[2017-04-07 09:52] imcvampire opened #83 "Add support for mixins"
Right now, if using mixins, `vue-meta` can't get header from mixins

[2017-04-11 10:23] kasparasg commented on #82
^^ having the same issue with an upgrade to `0.5.6`

[2017-04-13 08:51] rhwilr commented on #82
Are you guys also using `vuex-router-sync`?
I am using `nuxt.js` with `vuex-router-sync` installed as a plugin and i just found out that if I only include router-sync in the browser-build I don't get the crash.

[2017-04-13 14:12] darrynten commented on #82
@rhwilr exact same problem with `vuex-router-sync` and `0.5.6` for me - going back to 0.5.5 fixes it for me

[2017-04-13 14:27] goldfire commented on #82
Yes, we are using vuex-router-sync as well.

[2017-04-14 10:48] ptitkiller commented on #78
Hi, all
I use https://github.com/vuejs/vue-hackernews-2.0. I config same @Sleashe and same issue.
Thanks a lot in advance.

[2017-04-19 04:24] devyfriend commented on #67
is this issue resolved yet ?

[2017-04-19 08:52] Alphmega commented on #82
Having the same issue, too, with `vuex-router-sync`

[2017-04-19 13:59] Edaks commented on #82
Maybe i'm wrong, but i have the same problem both in the 1.5.5 and 1.5.6

[2017-04-19 14:06] rhwilr commented on #82
I submitted a PR last week which fixes the issue for me. https://github.com/declandewet/vue-meta/pull/84
Maybe some of you could check it out and give feedback if it works for you as well so we can get this merged in.

[2017-04-21 08:28] lc60005457 opened #85 "When I create another new vue instance"
for example:

[code]

When another instance changed, like: `beforeCreate`、`created `、`beforeMount `、`destroyed `，document's meta will be clean.

VueMeta should be used for only one vue instance.

Another new vue instance maybe from other people's vue plugin.

[2017-04-21 10:58] MaximilianLloyd commented on #82
Got the same error, had to downgrade. Kinda strange that a breaking change hasn't been addressed by the repo owner in two weeks :-/.

[2017-04-21 12:03] cannap commented on #82
@MaximilianLloyd  maybe busy or holidays 💃

[2017-04-23 00:43] jazoom commented on #82
This is pretty bad.

[2017-04-23 00:46] jazoom commented on #82
@rhwilr The interesting thing is that when I made that pull request, it worked fine. destroyed() shouldn't even be called on the server. I'm not sure what's going on there.

[2017-04-23 00:58] jazoom commented on #82
Ah, I just saw the stuff about `vue-router-sync`. I guess it didn't happen this way with a previous version of `vue-router-sync`. That would explain it.

[2017-04-23 05:36] Edaks commented on #82
@rhwilr , hmm, it works for me(0.5.6), thanks

[2017-04-23 15:35] wargt opened #87 "Error: head script dangerouslyDisableSanitizers"
Hello

I need insert google tag manager

[code]

when i change page (this.$router.push())

I have error Exeption

![](https://cloud.githubusercontent.com/assets/3066246/25278691/d5512b2e-26ac-11e7-8fdc-a6bfedecb452.png)

![](https://cloud.githubusercontent.com/assets/3066246/25278707/e3bc8118-26ac-11e7-9e42-e545b8966b22.png)

Do you can to help me?

[2017-04-24 03:34] ooxif commented on #54
I have the same problem
FYI: my workaround https://gist.github.com/ooxif/bba97fb194a8e982b109422050cd3783

[2017-04-24 06:23] john-ko commented on #87
see #54 or #73

[2017-04-25 18:34] vishr opened #88 "How can we use it with vue-class-component?"
I am trying examples with https://github.com/vuejs/vue-class-component but it doesn't work like below:

[code]

[2017-04-25 18:35] vishr commented on #88
I trying examples with https://github.com/vuejs/vue-class-component but it doesn't work like below:

[code]

[2017-04-25 18:39] vishr commented on #88
It works like below:

[code]

[2017-04-27 20:46] shelakel commented on #82
This issue is still present, and I've confirmed the fix from @rhwilr solves the issue:
add
[code]
before batchUpdate in destroyed

[2017-05-09 17:29] corsen2000 commented on #82
I am not using `vue-router-sync`, but I am making use of `store.registerModule`, and it looks like that code is causing the problem. If I do not use `registerModule` and instead define that module with the initial store everything is fine.

I notice `vue-router-sync` also makes use of `registerModule`, so perhaps this issue has something to do with dynamic module registration.

[2017-05-14 17:01] Eiskis opened #95 "Function-style metaInfo broken with keep-alive"
When I use vue-meta with vue-router and `<keep-alive>`, I can't reliably use the function-style metaInfo.

I have two pages in my application, with the following in their component definitions:

[code]

When I load my application and enter page one, I will see "Hello world!" as the page title. When I switch to page 2, I will see something like "Route name: pageTwoRouteName" as expected. However wh

[2017-05-15 12:34] Atinux commented on #88
@vishr please look at https://github.com/vuejs/vue-class-component#adding-custom-hooks

[code]

[2017-05-15 12:34] #88 closed

[2017-05-15 12:34] Atinux commented on #87
Closing for duplication.

[2017-05-15 12:34] #87 closed

[2017-05-15 12:35] Atinux commented on #85
Hi @lc60005457

I am sorry but this is a choice made by @declandewet and I don't think this behaviour will change.

[2017-05-15 12:35] #85 closed

[2017-05-15 12:36] Atinux commented on #82
Should be fixed with `vue-meta@1.0.0`

[2017-05-15 12:36] #82 closed

[2017-05-15 12:43] Atinux commented on #67
Should be fixed now :)

[2017-05-15 12:43] #67 closed

[2017-05-15 12:48] Atinux commented on #54
It's now fixed in the last version :)

[2017-05-15 12:48] #54 closed

[2017-05-15 12:49] Atinux commented on #41
Should be fixed now

[2017-05-15 12:49] #41 closed

[2017-05-15 12:49] #78 closed

[2017-05-15 12:49] Atinux commented on #73
Fixed with the last release.

[2017-05-15 12:49] #73 closed

[2017-05-15 12:50] Atinux commented on #74
Should be fixed with the last version (I will update nuxt.js soon)

[2017-05-15 12:50] #74 closed

[2017-05-15 13:00] Atinux commented on #44
Hi @fenivana

Thank you for this bug report, actually the only workaround I found is this one:

[code]

Sadly it seems more a bug related to `vue-server-renderer` instead of `vue-meta`.

In the meantime, you can use `renderToString`.

[2017-05-15 13:01] Atinux commented on #51
Hi @codingfriend1

I am sure that `beforeMount` is not called on server-side, there may be an issue in your code directly.

[2017-05-15 13:01] #51 closed

[2017-05-15 13:01] #5 closed

[2017-05-15 13:01] #3 closed

[2017-05-15 13:02] Atinux commented on #83
Hi @imcvampire

Can you reproduce a reproduction on JSFiddle?

i will then re-open this issue.

[2017-05-15 13:02] #83 closed

[2017-05-15 13:03] Atinux commented on #95
It would be indeed awesome if could create a PR to check if the component is `deactivated` to not watch it.

[2017-05-15 14:37] vishr commented on #88
@Atinux Thanks for your response, I will have a look it.

[2017-05-15 14:43] nilsi commented on #82
Im still seeing this problem with vue-meta@1.0.0 and above

W20170515-23:39:52.781(9)? (STDERR)/path/to/project/vue-meteor-demo/node_modules/vue-meta/lib/vue-meta.js:835
W20170515-23:39:52.781(9)? (STDERR)     var htmlTag = document.getElementsByTagName('html')[0];
W20170515-23:39:52.782(9)? (STDERR)                   ^
W20170515-23:39:52.782(9)? (STDERR)
W20170515-23:39:52.782(9)? (STDERR) Refere

[2017-05-15 15:23] Atinux commented on #82
Can you create a step to reproduce this issue @nilsi ?

[2017-05-15 15:31] nilsi commented on #82
What I did was to clone this repo:
https://github.com/Akryum/vue-meteor-demo

Then I installed vue-meta with:
`npm install vue-meta --save`

And added imported Meta in `app.js`
[code]

[2017-05-16 02:37] heww opened #96 "refresh meta info for component only its computed $metaInfo exists"
see more https://github.com/ElemeFE/element/issues/4207#issuecomment-301658757

[2017-05-16 15:25] #96 closed

[2017-05-16 19:11] hvalcourtSerdy opened #98 "Better code format in source for meta data-vue-meta"
Hi,

it's really a detail, not really important, it's working.

When you look the source code directly, not with the inspector, all the meta are on one line. They should be one per line for better readability.
Exemple :
[code]

[2017-05-16 19:31] hvalcourtSerdy opened #99 "vue-meta for AMP"
Hi,

only a suggestion,

I use vue-meta to manage meta, but also to respect AMP requierement (Google Accelerated Mobile Page).

They have some required mark-up, always the same
https://www.ampproject.org/docs/tutorials/create/basic_markup

Maybe it's possible to add an AMP option to respect some of the requierement.

Like :
_"Contain a <script async src="https://cdn.ampproject.org/v0.js"></script>

[2017-05-17 14:40] hvalcourtSerdy commented on #99
I will write this in the same ticket because it's another problem I have with AMP.

Exemple of the noscript needed by Google AMP :
[code]
Google requierement dont accept the data-vue-meta="true"
https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

Is it possible to have an option to remove the data-vue-meta attribute ?

Thanks again

[2017-05-24 12:06] jeerbl opened #100 "Allow to specify a limit for <title> text length, truncate if above"
Hi,

It would be nice to have a way to specify a limit for the text length in the `title` tag. If the title length is greater than the limit, it would truncate the part before the `titleTemplate` string.

__Example__
Let's say you have:
[code]
If you specify the limit to 50, which this text exceeds, the computed title would be:

which is 50 characters long.

It would definitely be a nice-to-have f

[2017-05-26 09:30] romandragan commented on #88
@vishr, I use it like that and it works fine on client rendering:

[code]

But it does not work in SSR. While doing
[code]
in `server.js` it says that `context.meta` is undefined.

Maybe @declandewet or @Atinux can help us?

[2017-06-02 15:08] jacoborus commented on #82
I'm experiencing this issue with version 1.0.4, just create a pull request with a fix that worked for me: https://github.com/declandewet/vue-meta/pull/101

[2017-06-03 09:37] Super-Meng commented on #95
when keep-alive,

[2017-06-08 22:39] OlzhasAlexandrov commented on #67
@Atinux Thank you for partially fixing it. I have just checked it and the problem still exists. I haven't tested on a pure vue.js project, here are observations using latest nuxt.alpha4

What's happening now is after hot-reload it properly renders the innerHTML of the script.
However, **it fails to render " on the initial render** and quotes are still the same as described in the ticket.

`npm run

[2017-06-19 10:53] dc198689 opened #103 "Why the tab title show full url in browser ??"
Hi, I am using your basic configuration in every component, but why does it show the full url in the tab title such as i refresh the page or route to another page. See the attached image below.

![path](https://user-images.githubusercontent.com/3169209/27281791-fa50e8a0-551f-11e7-95a9-97436d709f58.png)

In the component, i just these setting in export default

[code]

How should i fixed it ? Thank

[2017-07-06 07:55] wzdwc opened #106 "README.MD"
![image](https://user-images.githubusercontent.com/12741381/27900977-e1d8f4e8-6262-11e7-938d-305909912a5b.png)
mabye is should be
`<html foo="bar" amp></html>`??

[2017-07-11 17:21] mathieumagalhaes commented on #103
I have a similar situation, where I see no title (AKA full url) on first render (SSR), but when I change from page to page through the client vue-router it does render title and other meta tags.

My server entry includes:
`...
const { app, router } = createApp();
  const {
    title, htmlAttrs, bodyAttrs, link, style, script, noscript, meta,
  } = app.$meta().inject();
...`

TL;DR first render (ss

[2017-07-18 13:47] homerjam opened #109 "titleTemplate should take a function"
Ideally I'd like to be able to determine whether or not to place dividers in the title (eg. pipes or hyphens).

[code]

[2017-07-23 03:13] falstack opened #110 "How can i get new metas before route. afterEach?"
page: user/1

meta: { title: user-1 }

route.to -> user/2
[code]

[2017-07-23 03:16] falstack commented on #110
fine.

I do this
[code]

[2017-07-23 03:16] #110 closed

[2017-07-23 15:15] DespertaWeb opened #111 "Is Vue-meta only for Server Side ?"
It's not clear to me if I could use it in the Front Side with Vue.js. No server side involved .

Thanx !

[2017-07-26 11:30] hurradieweltgehtunter opened #112 "Template for other properties than title"
Hi,
is it possible to use a template like titleTemplate for other properties?
Use case:
### app.vue
[code]

### component.vue
[code]

I want to have `og:title` the same as `title`. Title gets parsed with the template set in app.vue.
In this case:
title = I'm a vue component | My default title template
og:title = My component title

How can I make them the same without removing the template?
Thank

[2017-07-29 20:26] romanrei opened #114 "How to use vue-meta with ssr?"
Is there any way to use it with createBundleRenderer ? this function outputs the ssr bundle with html and then i'm using this html in .renderToString() function.
So when i'm adding ${meta.text()} to the res.send() my rendered html file becoming weird and not semantic. I mean meta tags are not in <head> and etc.

Thanks.

[2017-07-30 14:36] romanrei commented on #114
I found a solution. if anyone interested just add {{{ meta.inject().title.text() }}} and other meta props in template.html

[2017-08-02 15:00] #114 closed

[2017-08-02 15:01] Atinux commented on #111
Hi @DespertaWeb

Vue-meta works on client-side as well, it's just that it's server-side compatible :)

[2017-08-02 15:01] #111 closed

[2017-08-02 15:02] Atinux commented on #109
Hi @homerjam

This should be backward compatible as well, any PR is welcome :)

[2017-08-02 16:14] Atinux commented on #112
Hi @hurradieweltgehtunter

Saldy it's not possible right now, but I'm open to discuss about a possible solution, what do you have in mind to accomplish this?

Please mention me so I can keep track of this issue.

[2017-08-02 16:38] hurradieweltgehtunter commented on #112
Thx @Atinux for answering.

It would be cool to have a template option like in title. So one could define a default property + template and reuses this in every component. If it isn't defined in a component, the default value is used.
Example:
## app.vue
[code]

## component.vue
[code]

It's just analog to ```title``` and ```titleTemplate```

the ```template``` option inside the meta-property coul

[2017-08-03 09:04] Tazer opened #116 "When specifying link in both parent and child you both arrays"
I have a parent component that specifies an link array.
Parent.vue
[code]

Child.vue
[code]

What I want todo is that the Child you override the Parent link array. But instead it's just appended. So I end up with both "something" and "override"

[2017-08-04 14:30] andreasvirkus commented on #114
This works, however, the Vue SSR docs discourage the usage of `{{{ }}}` and warn us of potential XSS attacks:

https://ssr.vuejs.org/en/head.html (See "Notes" at the bottom)

[2017-08-05 23:11] romanrei commented on #114
I know this, but for now i don't know how to inject it to html. double mustaches just output it as text..

[2017-08-06 11:51] jorngeorg commented on #95
Having this problem too. When using keep-alive the meta tags for that view will stay in the DOM. When navigating instead of updating them new ones are added.

Any ideas for strategies to avoid / circumvent this?

[2017-08-07 15:36] Atinux commented on #95
It should be fixed with last version of vue-meta

[2017-08-07 15:36] #95 closed

[2017-08-08 10:51] Atinux opened #117 "Test issue"
OK

[2017-08-08 10:52] #117 closed

[2017-08-08 10:53] Atinux opened #118 "Test issue"
OK

[2017-08-08 10:53] #118 closed

[2017-08-08 10:55] Atinux opened #119 "Test issue"
OK

[2017-08-08 10:55] #119 closed

[2017-08-08 10:55] Atinux opened #120 "Test issue"
OK

[2017-08-09 18:15] newenegue commented on #114
Is there an alternative approach than using `{{{ }}}`?

[2017-08-10 05:26] andreasvirkus commented on #114
@Atinux ping

[2017-08-10 08:31] andreasvirkus opened #121 "Ability to use in a stand-alone component"
Hello, this is nothing critical, just something to consider for the future:
I'm using vue-meta in an SSR (Vue native, not nuxt) setup
and since we've got quite a lot of meta tags (necessary only for initial render),
then I've moved them out of the App.vue file into a separate component.

However, if I don't add empty `<template></template>` tags, Vue complains that
[code]

If I do add the template

[2017-08-10 13:57] wilk opened #122 "Something like bodyAttrs for head tag?"
Does exist something like this for the head tag?

https://github.com/declandewet/vue-meta#htmlattrs-object

In some situations, I need to add attributes to the head tag: for instance, namespaces for Open Graph -> https://developers.facebook.com/docs/reference/opengraph/object-type/article/

Best,
Wilk

[2017-08-12 11:36] MDSLKTR opened #128 "changed() function in metaInfo returns Object with metaInfo instead of Vue instance"
Hey,

first of thanks for this great plugin! I have a question though. When using the changed function i currently have no way of telling my Vue Instance that metaInfo has in fact changed. In my current implementation as described in the docs it returns a simple object containing all meta data instead of the mounted Vue Instance. Is this behaviour intentended?

Vue Meta 1.0.5

[code]

Thanks in ad

[2017-08-15 08:19] Atinux commented on #112
I see, it's a good idea indeed.

It's a `template` key for meta tags where `%s` is replaced by the `content` key.

Right know I have a lot of work with Nuxt.js, but if someone want to open a PR to add this feature, please do :)

[2017-08-15 08:28] Atinux commented on #122
Will be available in 1.1 (released during the day)

[2017-08-15 08:28] #122 closed

[2017-08-15 08:40] Atinux commented on #128
Hi @MDSLKTR

It's fixed with https://github.com/declandewet/vue-meta/commit/1acfa946debfee58c3fadb1fcad9e56927a235eb

I will release 1.1.0 today

[2017-08-15 08:40] #128 closed

[2017-08-15 08:54] Atinux commented on #121
Hi @andreasvirkus

It works if your use the `render` method:

[code]

Vue will render a comment () DOM element :)

[2017-08-15 08:54] #121 closed

[2017-08-15 08:56] Atinux commented on #116
Hi @Tazer

You need to use the `vmid` property, please read https://github.com/declandewet/vue-meta#how-metainfo-is-resolved

[2017-08-15 08:56] #116 closed

[2017-08-15 08:58] #106 closed

[2017-08-15 08:59] #103 closed

[2017-08-15 09:19] MDSLKTR commented on #128
Hi @Atinux,
great to hear! Thank you very much!

[2017-08-15 11:28] andreasvirkus commented on #121
Yup, thanks. Achieved the same thing with `render() { return null }` but forgot to close the issue.

[2017-08-16 11:37] yunyu opened #129 "Using attribute without value"
I was wondering if it's possible to use an attribute without a value, e.g.

    <link rel="preload" href="..." type="font/woff2" crossorigin>

I tried defining it as

    { rel: 'preload', href: '...', as: 'font', type: 'font/woff2', crossorigin: null }

But I end up with `crossorigin="null"` rather than the expected output.

[2017-08-16 16:35] pimlie opened #130 "feature: add posibility to disable sanitize by tagIDKeyName value"
At the moment it is only possible to disable sanitization for a whole meta group, it would be nice if you could disable it _per_ `tagIDKeyName` value as well.

A use case for this would be eg nuxt plugins. I have written a nuxt [module](https://github.com/pimlie/nuxt-piwik) that needs to define some javascript variables before including a source file. At the moment I can only do this by disabling

[2017-08-17 22:01] timcreatewell opened #131 "suitability for production use?"
Hi there, sorry if this is the wrong place to ask this question - but I'm wondering, as the project is now at v1.1.0 is it still not suited for production use?

Thanks!

[2017-08-29 05:38] jofftiquez opened #133 "Help needed: How do I use this for facebook open graph meta."
Currently I am trying :
[code]

But whenever I test it with [fb open graph debugger](https://developers.facebook.com/tools/debug/og/object/) it can't scrape the meta information.

[2017-08-30 22:50] anaelbe opened #134 "Prerendering instead of ssr"
Since i can't use SSR, i tried to use vue-meta with the spa-prerender one, which doesn't seems get along well.
While being in dev mode, metas are injected properly, but when running build, assets are generated without errors, but also without any meta injection.

Any known issues on issues with PhantomJS ?

[2017-09-01 08:12] laoyoufen commented on #95
this bug has not fix yet

[2017-09-01 08:38] sanderfish commented on #134
I would like to know more about using vue-meta in combination with [prerender-spa-plugin](https://github.com/chrisvfritz/prerender-spa-plugin) as well.

[2017-09-03 15:58] javiertury opened #135 "Template Interpolation for SSR"
The example for using `vue-meta` with SSR and `renderToString()` is too brief and somewhat hackish. What is more, you have to give up many autoinjection features of SSR and hot reloading. Some of them can be restored manually with `ctx.renderScripts()`, `ctx.renderStyles()`... but others are much more difficult to implement.

I propose to use the [template interpolation](https://ssr.vuejs.org/en/b

[2017-09-05 07:59] javiertury commented on #135
Ok, after further testing I've encountered some cases in which the above doesn't work. The problem is that I was calling `.inject()` too early and some properties were not calculated yet. I'm not aware of any hook that let's you call `.inject()` after rendering the app and before constructing the template. Properly injecting `vue-meta` properties into the template is still doable after some change

[2017-09-07 12:48] MDSLKTR opened #136 "Changed function returns invoked instance instead of the component instance it's mounted/set in"
Hey,

I'm making another ticket concerning the changed function since it's returning the **invoked** Vue instance instead of the component instance the function is **set** in. This leads to problems since you can't pass the data to the child component you are actually wanting it in. This could be worked around but i'd prefer a cleaner way since you could have all the data in a single component.

V

[2017-09-11 10:08] #109 closed

[2017-09-11 19:36] AlbinoDrought commented on #100
Now possible with a function `titleTemplate` (v1.2.0), although it does look a little dirty:

[code]

Resulting title:

[2017-09-11 19:41] jeerbl commented on #100
Nice thanks!

[2017-09-11 19:41] #100 closed

[2017-09-11 20:45] lee-chase opened #138 "charset utf-8 not applied"
On gh-pages, a single right quote
`it’s`
rendered as
`â€™`
despite setting charset using vue-meta. (Version 1.1 and 1.2, not tried older)

Moving charset setting to 'index.html' results in correct rendering.

NOTE: This does not happen when serving locally with webpack.
NOTE 2: I am using an internal enterprise version of github/gh-pages.

[2017-09-14 14:28] lee-chase commented on #138
Should probably close as this is normal behavior of client side rendering.

[2017-09-14 14:28] #138 closed

[2017-09-16 18:41] wuxiaobo2014 opened #139 "When I use vue-meta to import jquery file and other js file that depends on jquery, 'jQuery is not defined' occurred"
I use vue-meta to add script tag to head to import jquery file and other js file that depends on jquery, but 'jQuery is not defined' occurred in console.
![image](https://user-images.githubusercontent.com/21191415/30514947-e04b8cf8-9b51-11e7-8c63-b33b33d27c42.png)
![image](https://user-images.githubusercontent.com/21191415/30514952-efc888ac-9b51-11e7-8ad0-927046254e45.png)

[2017-09-17 11:29] #139 closed

[2017-09-17 11:33] wuxiaobo2014 commented on #139
It's solved with server-side render.

[2017-09-18 23:23] keithmancuso opened #140 "Feature Request: Strip Html from meta content"
This is hopefully a simple thing that could save someone a lot of hassle. Right now if you accidently pass a string with html into a meta tag it escapes it and passes it through the content.

I cant think of any reason why you'd want html to pass through to the meta tags so id love to see vue-meta just automatically strip out html? Just a simple regex replace would do the trick I think? html in th

[2017-09-18 23:26] keithmancuso opened #141 "Feature Request: More easily set og: and twitter: tags to defaults"
Right now if we want to use the same string or variable for the regular description, facebook description and the twitter description we have to do this.
[code]

Its the same for title, image any any other tags. Im sure there are times when you want different values for all three of these but would love to see some option to automatically set them all with the same thing?

Maybe theres already som

[2017-09-25 14:45] metekabak opened #143 "Duplicate tag prevention"
If I want a single og:title for example, i cant override it, it creates new one when calling from child component.

Do we have any method (uid) for that? or should i have done it via vuex or global mixin to override it?

Thanks

[2017-09-27 15:01] hofman-p commented on #134
Yes, an answer would be very nice about this

[2017-09-28 09:48] koddr opened #144 "How to use vue-meta in Vue TypeScript's template?"
Hello.

I'm using [vue-webpack-typescript](https://github.com/ducksoupdev/vue-webpack-typescript) template. But how to use your awesome plugin with it?

I already add to `./src/main.ts` this:

[code]

And add this to `./src/components/home/home.ts` component:

[code]

But this not working, don't show over written title.. Any help is welcome ;)

[2017-10-04 15:16] martinschleiss commented on #144
hi @koddr ,

I had the same problem.
You have to declare the metaInfo function on the @ Component declaration of your vue component.

[code]

But doing this will probably yield an error because the @ Component declaration does not have a metaInfo field defined. Having used "vue-router" before I looked at their source code and you have to define something like this:

[code]

[2017-10-09 14:43] dav2trade opened #146 "Multiple Tabs, Wrong metatags"
I'm currently experiencing the following issue.
I have a tab open with a title "TitleA" in Chrome
I open a new tab and try to access /dashboard which should have "TitleDashboard" or something but I'm seeing "TitleA" on both tabs.

Couldn't really find anything wrong with the written code, and didn't find a related issue.
Hope to find a solution here
Cheers!

[2017-10-10 11:00] andrey-hohlov commented on #135
+1

[2017-10-11 19:29] iamdubx opened #148 "undefined is not working in Nuxt"
Hi. I am trying to set this tag

[code]
But this one
[code]
generates this in Nuxt

[code]

[2017-10-26 09:25] #146 closed

[2017-10-29 10:58] iMomen opened #152 "Add locale to title meta"
Is it available to include a local string to the title meta?
my data object is something like this
`pageTitle: 'Loading... | $t("websiteName")',`

[2017-11-06 17:10] geekguy commented on #114
@Atinux - any update on @newenegue's previous comment?

[2017-11-07 10:11] Atinux commented on #114
Actually, `meta.inject().title.text()` render escaped HTML so you can have to use `{{{ }}}`.

Example: `title: '<b>Coucou</b>'`

$meta().inject().title.text() => `<title data-vue-meta="true">&lt;b&gt;Coucou&lt;/b&gt;</title>`

[2017-11-07 10:29] geekguy commented on #114
Oh, perfect.

Should we update this in doc?

[2017-11-07 11:08] Atinux commented on #114
A PR would be awesome :)

[2017-11-07 20:16] geekguy commented on #114
@Atinux - here you go - https://github.com/declandewet/vue-meta/pull/156

[2017-11-09 05:26] pocka opened #157 "Type definitions"
Thanks for this awesome package!

Are there any plans for implementing type definitions for Typescript?

[2017-11-09 09:50] diego-lipinski-de-castro opened #158 "work with router meta"
Maybe this was dicussed before but I couldnt find it, but is there a way I can set the titles i want in routes meta, and then get it to vue-meta? Working together with titleTemplate aswell, I'm trying to do with beforeEach router hooks but didn't realized yet

[2017-11-10 10:29] Antoine-Demailly opened #159 "changed() hook invoked twice"
I have an issue with the `changed()` hook.

It's called twice on route change:
- First with the good component (where changed() is defined)
- Second with the previous route component

package version: 1.3.1

ps: i define `changed()` only one time

[2017-11-10 23:52] anowell commented on #141
I also wanted this. For now I've opted to just use some utility functions:

[code]

and then set these in components using the array spread operator:

[code]

But it still seems like something that could be supported more natively, especially to be able to use my `title`/`titleTemplate` attributes within `<meta>` tags.

[2017-11-11 04:00] liyihe96 opened #160 "Can't load script asynchronously"
I'm trying to set script in header asynchronously, but it's currently not working. The script is returned in an async call.

[2017-11-13 17:16] bodinsamuel commented on #159
I also experience this "issue".
maybe it's wanted but we should be able to determine which is the current component, maybe with an other params or something.
Right now, I store the current component uid and compare it when I receive the event, which feels not quiet right.

[2017-11-13 23:21] deadelus commented on #133
Did find an issue ? I'im trying to do the same and I'm getting the same errors.. Thx :)

[2017-11-14 01:39] jofftiquez commented on #133
@deadelus no one's answering yet.

[2017-11-14 02:07] deadelus commented on #133
I found an issue here https://github.com/jvandemo/angular-update-meta/issues/13

[2017-11-14 02:11] jofftiquez commented on #133
@deadelus nice, thanks!

[2017-11-14 03:32] deadelus commented on #133
Try this one too : https://github.com/chrisvfritz/prerender-spa-plugin

[2017-11-14 04:30] jofftiquez commented on #133
Thanks!

On Tue, Nov 14, 2017 at 11:32 AM, Trambolho Geoffrey <
notifications@github.com> wrote:

[2017-11-15 09:39] Antoine-Demailly commented on #159
I actually try to fix it [here](https://github.com/Antoine-Demailly/vue-meta/commit/9c50dd03d519217daf3c9a34903a72ce572ae308) by prevent changed() hook when component is destroyed.

But it's not really clean

[2017-11-15 10:02] makedonec88 commented on #143
Hey @metekabak

You should definitely check this part of README [How metaInfo is Resolved](https://github.com/declandewet/vue-meta#how-metainfo-is-resolved)

So in your case, you need to add `vmid` key ot each property, which should be unique:

**Before:**
[code]
**After:**
[code]

More info in README

[2017-11-19 01:19] iamdubx commented on #130
This is very good feature. +1

[2017-11-20 11:10] adambet3 opened #162 "Admin"
Hi all

[2017-11-20 11:39] tvChan opened #163 "meta title change"
My ssr program contain other client component, when i trigger the client component, the program the title of meta information will change, why it happend? How to solve it?

[2017-11-21 16:52] shershen08 opened #164 "adding link preload functionality"
Hello
I've been recently working on a small plugin that simplifies the `<link type="preload" ` functionality.
It enables easier adding script/image/style adding to a page for developer https://github.com/shershen08/vue-preload

Do you think that may be handy to add simmilar functionality via PR in the SSR section?

[2017-11-22 07:17] iamdubx opened #165 "Add attribute to head"
How to add attribute to actual `head`? Why I can't find no info in Docs? This is stratnge.

[code]

[2017-12-01 05:44] tennessine opened #168 "How to add <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />"
[code]

[2017-12-01 08:24] #168 closed

[2017-12-07 09:00] hello-guoguo opened #170 "how use like this "<meta http-equiv='x-ua-compatible' content='IE=edge'>""
when i use it(vue-meta),and my setting:
`{ charset: 'utf-8' },`
` { name: 'viewport', content: 'width=device-width, initial-scale=1' },`
` { http-equiv: 'x-ua-compatiable', content: 'IE=edge' }`

is it right???     no!!!
it's error:
C:\Users\Administrator\Desktop\vue\zt_pc\nuxt.config.js:10
      { http-equiv: 'x-ua-compatiable', content: 'IE=edge' },
            ^
SyntaxError: Unexpected token -

[2017-12-09 07:18] tr-text commented on #168
I had the same problem，Have you solved it

[2017-12-09 07:23] tr-text commented on #170
So there's no problem with writing
{'http-equiv':'http-equiv', content:'text/html; charset=UTF-8'}

[2017-12-09 07:49] hello-guoguo commented on #170
@tr-text thx,I'm so 'silly!

[2017-12-09 07:49] #170 closed

[2017-12-10 12:43] #130 closed

[2017-12-11 10:40] Francis-Leigh opened #171 "Dynamic metaInfo.meta based on computed properties."
I have a reusable component that renders an article based on an ID param passed to the URL (*website/article/[id]*) this means that one __page__ (*/article/[id]*) has the ability to represent many different articles (one at a time).
As you can imagine, this means that in terms of meta data... the description property needs to be updated based on what article is showing...

(my code at the moment)

[2017-12-11 11:04] Francis-Leigh commented on #171
Sorry, didn't read the Docs properly :-/

Turns out you can define `metaInfo` as a function that returns your object. Within this function you have access to your computed properties...

Still - Someone may have the same process as me and go straight to the issues SO... here is an example.

[code]

[2017-12-12 14:35] akhoury opened #172 "is "metaInfo", at a "SubClass" level, supposed to be merged with a "SuperClass" component's "metaInfo"?"
Right now the whole `metaInfo` object gets overwritten.

## Example code:

[code]
## Live example code:

* example above: https://jsfiddle.net/d9em8msL/
* another example: https://jsfiddle.net/9w84bd39/1/

## Use case

It's nice to have a `Page` superclass component that all the other "pages" (pages, and not all the other "components") extends, this way we can have a `titleTemplate` for all, and e

[2017-12-13 17:21] btkostner opened #173 "Server memory leak"
Running `vue-meta` with SSR will leak memory on render. I have not tracked down where in the code this occures, but from removing `vue-meta` the package and code I have narrowed it down to vue-meta.

Memory tracked with `memory-usage` package and load tested with Locust. With `vue-meta`:
![screenshot from 2017-12-13 10 14 04](https://user-images.githubusercontent.com/3385679/33952487-28dbb326-dfef

[2017-12-14 21:53] anotheri opened #174 "Vue-meta in Nuxt + GA experiments"
Trying to implement Google Analytics experiments chunk of code as inline script using nuxt.js (`version "1.0.0-rc9"`), but getting an error similar to one described in #73 (but i'm getting one during client-side rendering only!).

Error stack looks like this:
[code]

and this is what i have in `head` of my page in nuxt:
[code]

Please advise.

[2017-12-15 19:51] camilodelvasto commented on #82
I'm also getting this error when running `npm run generate`, even with vue-meta@1.4.0. Using @jacoborus 's [PR](https://github.com/declandewet/vue-meta/pull/101) works for me locally, but that PR was closed...
Any other solution @Atinux ?

[2017-12-15 21:07] 20chix opened #175 "Metadata not displaying when pushing to production"
Hi

I'm following your repo for simple description and title of the page, the title works perfectly in development and production.

But when i use tool that check my meta tags nothing comes up.

Help please

![capture](https://user-images.githubusercontent.com/15612171/34060237-b4cbb29a-e1da-11e7-9715-2987897a5c63.PNG)

[code]

[2017-12-16 14:32] MDSLKTR commented on #175
Hello,
Metatags are applied in async batched operations. Depending on the Tool you use to check the site, the metatags might not be applied when the metatags are checked, but a few moments after. Google is afaik able to parse this aynchronously. One way to resolve this would be to use Server Side Rendering in Vue so the meta tags are already written on the server side when the page gets delivered

[2017-12-16 14:41] 20chix commented on #175
Hi

Thanks for quick response,

That’s that mean I won’t be able to index my page into google with right description and title unless I do server side rendering?

Because I can see the right title into google but the description are not there , it uses the text from the page not the one I wrote specifically for meta tags description.

Thanks I’m advance

[2017-12-16 22:28] MDSLKTR commented on #175
Hi again,

maybe this article helps: https://www.google.de/amp/s/www.simoahava.com/amp/seo/dynamically-added-meta-data-indexed-google-crawlers/

It‘s definitly harder to parse dynamically added metatags for crawlers, but apparently google can do it (maybe it takes some time..). Only way to be 100% sure that all crawlers can read it, is to serve the metatags from static html or with SSR rendered ht

[2017-12-17 11:44] 20chix commented on #175
Hi

Thanks for article that was really useful, what you think is the best way to add description and title for search engines like google? Is it to use SSR? If so do you have a simple example ? Because the one from the README is a bit confusing

Thanks In advance

[2017-12-18 20:30] gdi2290 opened #176 "opencollective?"
can you make an open-collective page?

https://opencollective.com

[2017-12-22 16:29] mathieumagalhaes opened #178 "IE11 Fix or Polyfill"
I would like to point out an error I'm seeing on IE11 and below.
IE11 does not support **Array.prototype.includes**

As Array.prototype.includes only differs in the use-case of an array including NaN values,
I would suggest changing it to
```Array.indexOf(...) !== -1```

In the files
- src/client/updaters/updateTags.js
- src/server/generators/tagGenerator.js

Second option would be adding a Polyfi

[2017-12-26 22:37] MDSLKTR commented on #175
Hello,

welp the example here in the docs is pretty straight forward though. This is a pretty good starting point in my opinion since it just works without having to understand all parts: https://github.com/vuejs/vue-hackernews-2.0. But yeah in general i would recommend you do as much as you can on the server. Also the safest path for getting you're site crawled correctly.

Regards,
Simon

[2017-12-27 05:30] Felwin commented on #134
Just did it, works fine, just need a little tweaking.
As vue-meta is working asynchronously you need to pass Phantom options in order to prerender that correctly.
I just need the title and the description; description was not set on parent component (App.vue) but only on child (home, contact etc.) so it was quite easy, I added :
captureAfterElementExists: "meta[name='description']"
and it works gr

[2017-12-27 18:16] BorjaRafols commented on #173
Wow... I'll check this too, I have included vue-meta and many more packages an I'm experiencing the same as you. Let me test this

[2017-12-28 07:40] devmattrick commented on #134
I'm also having some issues with this. When not codesplitting routes, it works perfectly fine for me, but when adding a split point per route, any vue-meta information that is passed doesn't seem to get picked up by prerender-spa-plugin.

[2017-12-29 17:31] akaneru commented on #152
Any update about that? I would need to this functionality. It would fantastic if it will possible.
Working on it by my self I don't have found a solution.

Thank you!

[2018-01-04 07:26] gravitano opened #179 "How to get metaInfo object from computed or mounted method?"
Hi guys, sorry for asking this here.

How to get metaInfo object from `computed` or `mounted` method?

I've tried this but this is not working.
[code]

[2018-01-05 09:21] yingye commented on #179
You can get metaInfo object from ` computed` or `mounted` method.
Because the metaInfo object has been injected into the context in `beforeCreate` hook.
This is my code.
[code]

[2018-01-08 07:40] Atinux commented on #176
Hi @gdi2290

Actually, I am the only maintainer of `vue-meta` right now since Declan Dewet had a terrible accident last year and he is still in recovery.

If you want to make donation, right now, you can give to Nuxt.js Open Collective since we depend of vue-meta into our core: https://opencollective.com/nuxtjs

Thank you BTW for asking :)

[2018-01-08 07:40] #176 closed

[2018-01-08 07:42] Atinux commented on #178
Hi @mathieumagalhaes

Nice catch, I just made a fix and will publish the patch today: https://github.com/declandewet/vue-meta/commit/a9ba6f5aba9d5f6c7f8c166495444a2c0247688a

[2018-01-08 07:42] #178 closed

[2018-01-08 07:43] #179 closed

[2018-01-08 07:44] Atinux commented on #174
Will be fixed today with last version of Nuxt.js :)

[2018-01-08 07:44] #174 closed

[2018-01-08 08:07] Atinux commented on #173
Hi,

It would be really nice of you to help me track where this comes from, I have a lot of work already with Nuxt.js.

@BorjaRafols  @btkostner

[2018-01-08 08:07] #175 closed

[2018-01-08 08:09] Atinux commented on #165
This is because `<head>` should not have any attributes: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head (`profile` is deprecated)

[2018-01-08 08:09] #165 closed

[2018-01-08 08:11] Atinux commented on #164
Hi @shershen08

Nice plugin!

Actually, you can already add preload scripts by adding `type: 'preload'` into the `link` attribute :)

[2018-01-08 08:11] #164 closed

[2018-01-08 08:11] #160 closed

[2018-01-08 08:12] Atinux commented on #159
Should work with latest version of vue-meta.

[2018-01-08 08:12] #159 closed

[2018-01-08 08:12] Atinux commented on #157
I don't have so much time to add the typing, but I am willing to merge a PR if someone wants to do it :)

[2018-01-08 08:14] #171 closed

[2018-01-08 08:14] #163 closed

[2018-01-08 08:16] Atinux commented on #158
It should work within Component `beforeEach` hook directly, I don't have time to give you an example sorry.

[2018-01-08 08:16] #158 closed

[2018-01-08 08:18] Atinux commented on #152
It should work by using `metaInfo` as a function directly.

See i18n example with Nuxt.js: https://github.com/nuxt/nuxt.js/blob/dev/examples/i18n/pages/_lang/index.vue#L13

[2018-01-08 08:18] #152 closed

[2018-01-08 08:18] #144 closed

[2018-01-08 08:18] #143 closed

[2018-01-08 09:47] anotheri commented on #174
Thanks @Atinux!

[2018-01-08 12:35] iamdubx commented on #165
@Atinux what about `<head lang="en">` or `<head prefix: http://ogp.me/ns#>`? It's the common practice.

[2018-01-08 15:09] Atinux commented on #173
@btkostner @BorjaRafols Could you provide me a reproduction link and how you can have these nice stats about memory?

[2018-01-08 16:16] btkostner commented on #173
@Atinux the memory graphs where made with `memory-usage` while running `Locust` (a python app) for load testing.

Give me a bit, and I'll try making a bare bones repo to reproduce this

[2018-01-09 01:27] zengxiaoluan commented on #99
在 vue 框架中使用 AMP 是一个好的选择吗？

[2018-01-23 11:00] akaneru commented on #152
Thank you for the reply, I've tried like specified in the example but for me still not working!
Best regards

[2018-01-26 00:49] arthurvasconcelos opened #181 "Vue Component Class support"
Hi I use [vue-class-component](https://github.com/vuejs/vue-class-component) in my project and I am trying to use props and data with vue-meta but the method **metaInfo()** is not working in this scenario.

[2018-01-30 18:27] AlexLomm opened #182 "How to pre-fill `to` and `title` fields of a mail client?"
Is there a way to specify `to` and `title` fields of a mailing client to be pre-filled?

[2018-02-08 21:15] jordanranson opened #184 "How do I add an ID attribute to a script tag?"
I'm trying to use vue-meta to add the Agile CRM tracking code, but the snippet has an ID in the script tag:

[code]

I can't see a way to add the ID to the tag in the documentation in the README, unless I'm missing something.

Is there a way to do this?

[2018-02-08 21:29] jordanranson commented on #184
Nevermind, figured it out.

[2018-02-08 21:29] #184 closed

[2018-02-09 15:08] Raiondesu commented on #157
@Atinux,

Addresed the issue in PR #185

[2018-02-09 15:15] #157 closed

[2018-02-12 05:47] elrolito opened #187 "Components without `$el` will cause destroy hook to fail"
https://github.com/declandewet/vue-meta/blob/776ddf62a233079dbd0c90cfdd8f8fc749188fcd/src/shared/plugin.js#L89-L93

Using [vuelidate](https://github.com/monterail/vuelidate) creates components that do not have an `$el` property, but still have `_hasMetaInfo` set to `true`, which results in the `setInterval` never being cleared. There may be other plugins that create similar components.

Changing t

[2018-02-13 14:18] hvalcourtSerdy commented on #173
Hi, you should also read this : https://forum.vuejs.org/t/tracking-down-memory-leak-on-the-server/8802/17 . In his case, it's not vue-meta at the end of the debugging.

[2018-02-13 18:28] btkostner commented on #173
Looking at this, it seems it was fixed in some package update. I'm trying to track down what package, but it's not present with _current_ up to date packages.

[2018-02-13 19:18] btkostner commented on #173
Closing as it seems this problem was resolved somewhere else. If you are still experiencing this problem, remove your `node_modules` folder and re-run `npm i`.

[2018-02-13 19:18] #173 closed

[2018-02-13 19:30] onlyurei commented on #165
@Atinux MDN does say the following:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head

Looks like only the special attribute `profile` is mentioned as deprecated.

[2018-02-14 09:08] BorjaRafols commented on #173
Yes, I can confirm, memory leak in my case was coming from elsewhere. Sorry for alarms

[2018-02-14 13:04] edjroot commented on #131
Same question. The README says "[...] this project is still in very early alpha development [...]" but it doesn't seem like it. Looks like beta at worst. Am I wrong to assume it's already usable?

[2018-02-15 16:09] x42y opened #188 ""TypeError: Cannot read property 'title' of undefined" when opening and closing a v-img"
When clicking on, and closing, an image in a `v-img` tag (https://github.com/crowdbotics/v-img), the I get the following error:
[code]

In `vue-meta.js:479`, it's this code:
[code]

`info`, which is `undefined` in the error, is set just above:
[code]

I guess `v-img` acts as a component in some respects, but does not provide the necessary data for it to be a "real" component, hence the error?

[2018-02-19 15:44] mathieumagalhaes opened #190 "Vue meta and serverCacheKey (LRU Caching)"
I'am seeing wrong meta data when using **LRU** caching and **SSR**.
Setting a _serverCacheKey_ in a component's options, will cache the component server side.

**Case:**
Let's say we have a component **A** and **B** with both a _serverCacheKey_ and a different vue meta _title_.

**The following:**
[code]

**Will result in:**
The first load the rendered meta title will be Title B.
A second reload (

[2018-02-26 08:39] salvadornico commented on #181
Hi, how did you use it in your component? I'm able to use props & data in my title (though Typescript throws an error about 'post' not existing on type Vue, so I had to set `noImplicitThis: false` in my tsconfig.json)

[code]

[2018-02-27 15:41] hackuun opened #193 "base doesn't work (in Nuxt)"
Hi. I have in `nuxt.config`

[code]
But it doesn't render `base` tag.

[2018-03-06 02:38] chavesgu opened #195 "When I use prerender-spa-plugin, packaged files, vue-meta does not take effect"
When I use prerender-spa-plugin, packaged files, vue-meta does not take effect

[2018-03-11 23:12] chasebank opened #197 "Access current route's metaInfo"
I'm trying to find some way to get a route's metaInfo title on route change.

Something like...
[code]

Or maybe inside `router.beforeResolve()`

Is there any way to access it?

[2018-03-13 16:49] #187 closed

[2018-03-13 16:50] Atinux commented on #187
Thank you for reporting this issue, it's fixed by #196

[2018-03-13 17:36] elrolito commented on #187
Cool, thanks. Glad I could help. 👍

[2018-03-14 09:54] utatti opened #198 "Add memoization to `inject()`"
To use vue-meta in SSR and Vue SSR template, it's recommended doing the following, according to README.md.

[code]

However, by a quick look in the implementation of [`inject()`](https://github.com/declandewet/vue-meta/blob/master/src/server/inject.js), it seems like not caching the result. It means it'll generate the meta object every time it's referenced in a template. The texts won't be changed

[2018-03-14 11:15] dandan888111 opened #199 "使用vue-ssr构建的项目，title和meta标签未在源码里更新"

[2018-03-18 00:37] ChambreNoire opened #200 "Delayed update causes errors"
Hello,

I have created a DateField component which uses bootstrap-datepicker. I load it in my component's mounted() hook thus :

    mounted() {
      $('#my-input').datepicker({ format: "dd/mm/yyyy" });
    }

I also use vue-meta to load in the appropriate .js file thus :

    metaInfo() {
      return {
        script: [
          { type: 'text/javascript', src: '/static/js/bootstrap-datepicker.

[2018-03-19 01:51] manniL commented on #141
+1 for the opportunity to reuse `titleTemplate`. Would be ideal for og:title!

[2018-03-19 11:36] manniL commented on #112
@Atinux done :)

[2018-03-19 11:58] manniL commented on #198
Sounds like a great idea! It sounds like you know more about memoization, so why not PR it? :relaxed: @utatti

[2018-03-21 13:06] manniL commented on #182
This is not related to vue-meta :thinking:

` <a href="mailto:test@example.com?subject=Example%20Subject&body=test">here</a>`

[2018-03-22 14:08] AlexLomm commented on #182
Sorry, please ignore this question :rofl:

[2018-03-22 14:08] #182 closed

[2018-03-25 22:09] Raiondesu commented on #131
@declandewet, people need answers! It's been 8 months already...

[2018-03-25 22:09] Raiondesu commented on #181
I also struggle with this one.
@declandewet, please

[2018-03-30 14:10] coolemur commented on #133
Need a simpler solution than using SSR...

[2018-04-04 10:24] peronczyk opened #204 "Ability to reset meta content to parent's value"
Is there any way to be able of resetting meta content value within nested component? For example I have "parent" component with this code:
[code]

and "child" component:
[code]

I don't know what will be the result of async action so I would like to return for example 'false' to pageTitle in order to tell vue-meta to skip <title> change in "child" component and use title from parent component.

Is

[2018-04-04 20:54] tfoxy commented on #197
You can use the function form of `metaInfo`:

https://github.com/declandewet/vue-meta#how-do-i-populate-metainfo-from-the-result-of-an-asynchronous-action

[2018-04-11 11:06] vvasic commented on #133
add quotes and move vmid to the end

[code]

[2018-04-16 03:41] catbea opened #205 "这个vue-meta在ios上不支持title的改变"
做的webview spa 在安卓上可以，在ios上不支持title的改变

[2018-04-20 08:25] idealley opened #207 "Vue-CLI 3"
Hello,
Is there a congiguration example for vue-cli 3? I did not manage to make it work, the server rendering is not anymore in the project.

Would it be possible to show an example ?

[2018-04-20 08:31] idealley commented on #207
Sorry it seems to work..

[2018-04-20 08:31] #207 closed

[2018-04-26 16:03] greenkeeper[bot] opened #209 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/declandewet/vue-meta/compare/master...declandewet:greenkeeper%2Fupdate-to-node-10">open a PR

[2018-05-02 09:04] GeneralworksInc opened #211 "Add head-tag attributes"
Hi,
is it possible to add head-tag attributes (ex.  for ogp)?

Use case:
[code]
thanks.

[2018-05-04 14:46] hansy opened #213 "Using with beforeRouteEnter"
What's the proper way of populating my meta info from data I asynchronously set in my `beforeRouteEnter` [navigation guard](https://router.vuejs.org/en/advanced/navigation-guards.html)? While I think the async instructions generally work (by using `metaInfo()`), I encounter undefined errors on initial page load. Ideally, I'd like the meta information to only be set after the async request.

Exampl

[2018-05-07 13:36] fps20only commented on #152
@akaneru Instead of defining metaInfo as an object, define it as a function and access this as usual.

`
export default {
    metaInfo () {
      return {
        title: this.$t("home.title"),
      }
    }
  }
`

[vue-meta FAQ](https://github.com/declandewet/vue-meta#how-do-i-use-component-props-andor-component-data-in-metainfo)

[2018-05-07 14:46] akaneru commented on #152
I confirm that your solution works!
Thank you :)

[2018-05-14 09:47] KaelWD opened #215 "Use a custom keyName dynamically"
In vuetify we use vue-meta if `this.$meta` exists, but I had to hard-code `metaInfo` and `head` (for nuxt). Is there a way for my library to dynamically use whatever keyName the end user passed in?

- https://github.com/vuetifyjs/vuetify/blob/d724779defded93f887afb257869063fc22d0b43/src/components/VApp/mixins/app-theme.js#L61-L83
- vuetifyjs/vuetify#3314
- vuetifyjs/vuetify#3488

[2018-05-14 17:15] jaredthirsk commented on #131
@declandewet @Atinux Any update on this?  Are certain simple usage scenarios apparently stable while others more experimental?  What concerns do you have about calling this "ready for production use" or "ready for beta testing"?

[2018-05-16 06:59] Atinux commented on #131
I updated the README, vue-meta is ready for production since the 1.0 (it also been used in production for the last year).

I did not notice there were still a disclaimer.

[2018-05-16 06:59] #131 closed

[2018-05-16 07:00] Atinux commented on #211
It's possible yes, just use `headAttrs` :)

[2018-05-16 07:00] #211 closed

[2018-05-16 07:05] Atinux commented on #215
Hi @KaelWD

What if you could get it trought `this.$meta().options.keyName`?

I believe we should add it here: https://github.com/declandewet/vue-meta/blob/master/src/shared/%24meta.js#L14

[2018-05-16 07:08] Atinux commented on #213
Could you try so set `name` to an empty string instead of `undefined`, I think this will solve your issue.

[2018-05-16 07:08] #209 closed

[2018-05-16 07:08] #205 closed

[2018-05-16 12:55] kont-wayfinder opened #216 "__dangerouslyDisableSanitizers not working?"
Hi,

I have an escaped string title like this - if you don& #8217; t (don't)

I have tried the option:
__dangerouslyDisableSanitizers: ['title']

But it doesn't work. In my vue file i used v-html to render the title. How do i render it in vue-meta info?

[2018-05-16 15:41] waghcwb opened #217 "What's the purpose of noscript tag of vue-meta?"
What's the main purpose of `noscript` tag in this project? If the user disable the Javascript, `vue` will not load, and `vue-meta` too..

I'm not experienced with Vue, I'm just asking about it..

[2018-05-17 03:33] KaelWD commented on #215
Yeah that should be good. Do you know how I could use that though? I had [this](https://github.com/vuetifyjs/vuetify/commit/b2a7a02d7f366111ec578a2025a2c4acafb844ca#diff-b4befa9d618deb303d9def8da0583bbeL54) before which worked fine in SSR, but I think caused a race condition on the client-side because it would sometimes not apply.

[2018-05-17 19:54] hansy commented on #213
That can work; but what about for less trivial examples where I'm setting an object and then would be accessing the object's properties?

[2018-05-18 08:04] aiyou666666 commented on #199
me too

[2018-05-18 16:17] arthurvasconcelos commented on #181
I managed to solve this. I made a custom decorator for myself:

**decorators.js**
[code]
Using it like this:

**my-component.js**
[code]

[2018-05-18 17:02] Atinux commented on #181
Awesome!

[2018-05-18 17:02] #181 closed

[2018-05-18 18:27] NetBzz commented on #67
I can confirm @OlzhasAlexandrov findings and it only renders properly **after hot-reload only**. Fails to render on initial render and `npm run generate`.

[2018-05-21 02:33] kont-wayfinder commented on #133
Any solution for this? My site is showing the open graph meta tags, however facebook debugger is not crawling my metas?

[2018-05-21 11:56] damcclean opened #219 "Vue meta title not apperaring when getting title from Axios"
I'm trying to use vue-meta to show page titles from an API. To get the data from the API i'm using the Axios HTTP library.

My code is here https://github.com/damcclean/Headless-Iamlittle/tree/vue-meta. I've setup the Post Component to use the same formatting that is used in the documentation.

When I try and display the Post component I don't get any title for the page at all.

I'm not sure what

[2018-05-23 23:14] mfdeux commented on #133
@kont-wayfinder You should check to see if the tags are being rendered without JS.

[2018-06-01 11:45] kingsloi commented on #195
Hey @guchunwen, were you able to fix this? I am also running into this issue

Vue-meta works fine but (<title>, <meta> tags are applied) but once `?_escaped_fragment_=1` is applied, they load for a brief second, and then are removed (leaving blank <title>)

[2018-06-07 07:46] ktsn opened #224 "Updating meta related data just after hydration is ignored"
Looks like vue-meta ignores the update for data that will affect meta info when it is just after SSR hydration.

Example:

[code]

In the above example, it is expected that the `meta[name="description"]` has content `updated` but it actually be `not updated yet`.

The complete reproduction is here (using Nuxt): https://github.com/ktsn/vue-meta-repro

I briefly looked into the code and seems that t

[2018-06-07 13:15] atorscho opened #225 "Calling `this.$data` from `changed` method"
Hello,

I am trying to manipula component's data inside the `changed` method, but on each refresh `this.$data` and component's methods are unavailable even though `this` returns the current Vue component instance.

What could be the reason? Is it a normal behaviour or a bug?

Thank you in advance.

[2018-06-07 13:17] atorscho commented on #225
Just tried to call `this.$el` and saw that it returns my current route's component and the subcomponent I am calling `changed` method from. This is the reason why I don't have access to current component's data since it is called from route's component.

[2018-06-07 13:17] #225 closed

[2018-06-07 18:57] aykut-rocks commented on #129
according to the vue-meta documentation:

htmlAttrs: {
        lang: 'en',
        amp: undefined // "amp" has no value
}

[2018-06-08 12:12] #217 closed

[2018-06-08 14:47] waghcwb commented on #158
If someone still needing this

[code]

[code]

[2018-06-13 07:42] Preen opened #226 "Map is not a function when setting charset:"
I try to set charset with

[code]

Then I get the console error:

[code]

Using:
[code]

[2018-06-13 13:34] Preen commented on #226
It was me. Should have been:

[code]

[2018-06-13 13:34] #226 closed

[2018-06-18 08:07] Ovyerus commented on #224
I'm experiencing this as well when trying to set `htmlAttrs` with a value from Vuex that gets hydrated on the client side.

[2018-06-28 10:00] funkysoul opened #227 "cannot read property length of undefined"
While using metainfo in function form I'm getting this error:

Uncaught TypeError: Cannot read property 'length' of undefined
    at updateTags (vue-meta.js?a778:797)
    at eval (vue-meta.js?a778:908)
    at Array.forEach (<anonymous>)
    at VueComponent.updateClientMetaInfo (vue-meta.js?a778:882)
    at VueComponent.refresh (vue-meta.js?a778:944)
    at eval (vue-meta.js?a778:1091)
    at eval

[2018-06-29 09:36] atorscho commented on #159
I still have this same issue.

I have installed the latest version: 1.5.0.

[2018-07-01 04:01] jordanramstad opened #228 "Title updating constantly until tab/dev tools crashes"
I have not been able to fully track down why this is happening. It could still be something in my app, but I am not doing anything out of the ordinary though.

Chrome:  67.0.3396.99
Vue: ^2.5.13
Nuxt: 1.4.1
Vue-Meta: ^1.4.3 (Should be latest, just looking at the nuxt package.json)

Basically when I have the tab active, dev tools will show it is constantly updating the `title` element (every millis

[2018-07-04 14:23] AlexeyTcapaev opened #229 "vue-meta with v8js"
hi,it can be work with v8js engine?

[2018-07-05 15:02] Atinux commented on #224
Well actually I am not the author of this doc but if you could help me on it @ktsn it would be great.

Please mention me so I can receive an email when you answer.

[2018-07-10 19:16] moltar opened #231 "Allow bodyAttrs keys to have values as array or object."
# Problem:

Setting `bodyAttrs.class` in a component, and then a layout (Nuxt) will not merge them properly, as both values are strings. The component seems to always win.

# Solution:

Allow `bodyAttrs` keys to have values as array or object.

This would allow `deepmerge` module to merge the values correctly.

Then a rendered version would just concat with a space or something like that.

E.g.:

[2018-07-11 10:37] dysol opened #233 "[QUESTION] How to load webpacked images in assets folder in vue meta?"
Hi,
how do i load my images in /assets folder with vue-meta?

[code]
doesn't seem to work. Any help?

[2018-07-11 12:56] canyoudev opened #234 "How to generate tags from array?"
Hello and thank you for most-necessary package ever.

I have a question and hope you can help me out?

I have an array of values, that unique to every article. How can I generate such thing?

[code]

Too bad examples in Docs doesn't cover such usecase. I also searched similar issues, but no success.

[2018-07-12 07:18] cannap commented on #234
maybe with the spread operator "..."

[2018-07-12 09:24] canyoudev commented on #234
Thanks for the tip, it's working like this

[code]

and then `...ogTags`

[2018-07-12 09:24] #234 closed

[2018-07-12 16:05] canyoudev commented on #233
You don't need to **load** images in meta tags, bud

[2018-07-13 08:11] dysol commented on #233
@canyoudev i meant webpacked images. Not static images where i can just state the /path/to/img

[2018-07-15 20:39] eeerrrttty commented on #133
Is this vue-meta working with facebook? If not i won't even install it

[2018-07-19 11:29] shershen08 opened #236 "Option to set titleTemplate once for whole app"
For not complex use cases when plugin is used only for setting title of the rendered vue-router page, that would be nice to set titleTemplate once in the config phase as so:

[code]

and later on separate routes/pages just use `metaInfo.title` property to pass title

[code]
and
[code]

[2018-07-25 19:06] canyoudev opened #238 "How to make prev/next tags (conditional) for pagination?"
For SEO pagination I need next/prev tags. The thing is, they must be rendered differently on other routes.

For example, I have this

[code]

This is working fine for all pages beside first one and last one. On first page I don't need `prev` and on last one I don't need `next` tag.

How to solve this? have no idea. Please help!

[2018-07-26 02:54] heyikang commented on #199
me too

[2018-07-31 04:46] dysol opened #240 "Return a Promise for async scripts?"
Hi,

Is it possible to a _Promise_ when loading **async** scripts with vue-meta? So that code that are needed to be executed  **after** the script is loaded won't run into error.

For example a script like this:
[code]

[2018-08-02 02:35] lighth7015 commented on #197
That doesn't exactly work. I'm trying to do something similar, I need the meta info, so I can customize the HTML shell of my Vue application.

[2018-08-06 07:10] davutkara opened #241 "Request for inline comments"
Sometimes need to add the code below for ie browser.

[code]
It can be added like this.

[code]

I tried to make on my branch to make pull-request but, I got some dependency errors.

[2018-08-06 08:55] nicolasigot opened #242 "$meta is not defined in Vue interface type."
Hello,

While using vue-meta with SSR and typescript, I have issue as we need to expose meta server side using:

app.$meta();

Using typescript I have
const meta = app.$meta();
[ts] Property '$meta' does not exist on type 'Vue'.

What I need to do then as workaround is:
const meta = (app as any).$meta();

Can you please update types definitions?

[2018-08-08 02:10] issaTan commented on #236
Maybe you can set the template in `App.vue`? Just like this: https://github.com/declandewet/vue-meta#step-3-start-defining-metainfo

[2018-08-08 06:31] manniL commented on #238
You can add them on **component-level** with conditions :relaxed:

[code]

[2018-08-08 06:31] manniL commented on #229
Could you elaborate on the question?

[2018-08-08 13:58] shershen08 commented on #236
Yes, works like a charm
@issaTan Thanks!

[2018-08-08 13:58] #236 closed

[2018-08-08 14:07] #238 closed

[2018-08-08 15:54] Mattchewone opened #244 "Styles in body"
I am using `Nuxtjs` and I have within a layout a `head()` which I am defining some Vue meta information to customise the head.

I am defining some styles but I wish for the styles to come in after the compiled styles are added, so I am adding a `body: true` to the styles so that they are added after any initial main styles in the head. This does not seem to work though, if I add the attribute and

[2018-08-17 03:47] caihuattkl opened #246 "Page times wrong"
use：
this.$router.push({ path: "/weixinqun/" + currentSize});

error：

![image](https://user-images.githubusercontent.com/18523369/44246909-5a6d7000-a213-11e8-9a69-ff3472154be7.png)

[2018-08-17 03:48] caihuattkl commented on #246
Did I have any misplacement?

[2018-08-17 18:40] nathanchase opened #247 "Create a more integrated solution for including JSON-LD"
I'm currently adding [JSON-LD](https://json-ld.org/) through [vue-meta](https://github.com/declandewet/vue-meta) by way of the following method:
[code]
While this works, it seems a bit of a hack, and it would be nice to not have to disable the sanitizers, obviously.

I'm not sure the best way to approach this in the codebase, but if someone can point me in the right direction, I'd be happy to add

[2018-08-20 15:36] eeerrrttty opened #249 "meta :og for each element inside v-for list"
I'm making a social media using vue.js, i would like to every post to search for meta :og inside them, exemple:

I have a post, inside this post the user put a link from youtube, so i have to read the preview so the users rolling the page will be able to see the preview of this post (and this has to be done to every single post).

How could i make this using vue-meta?! Is this possible?!

[2018-08-22 12:48] nathanchase commented on #247
**More thoughts on this:**

What about implementing a way for vue-meta to have flags for support of various schema...

So you'd have:

- native  ---- <meta name="description" content="A classic apple pie.">
- OpenGraph  ---- <meta property="og:description"  content="A classic apple pie.">
- Twitter  ---- <meta name="twitter:description" content="A classic apple pie.">
- JSON-LD  ---- "description"

[2018-08-23 23:45] SamJWeissman commented on #133
@smcstewart

Potentially stupid question -- but how do you detect when a crawler is hitting your site?

[2018-08-24 07:54] smcstewart commented on #133
When a request is made to your site you can check the [user-agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent) header in the request for the user agents used by which ever social networks you want to share with. For example, [Facebook](https://developers.facebook.com/docs/sharing/webmasters/crawler): `facebookexternalhit` or `Facebot`, [Twitter](https://developer.twitter.

[2018-08-24 14:03] SamJWeissman commented on #133
@smcstewart

Awesome, thank you!

[2018-08-25 15:58] johnyluyte commented on #141
Sorry for off topic, but I'm confused about how to deal with duplicated meta tags after reading this discussion.

In [Nuxt Document](https://nuxtjs.org/faq/duplicated-meta-tags/) it says use the unique identifier `hid`, just like @keithmancuso used in his/her example.

But in the current vue-mata `READEME.md`, there is no `hid` identifier. The closest one is `vmid`, just like @anowell used in his

[2018-08-26 18:26] oahccc commented on #233
Hi @dysol,

In the script tag, you could
`import ogImage from "./assets/img/home/bri-booklet.jpg"`

and then use it as below
`{ hid: 'og:image', name: 'og:image', content: "https://your.domain" + ogimage},`

[2018-08-26 19:55] alfredriesen opened #253 "Resolving metaInfo breaks when third library (vuetify) returns a non-object[bug]"
Please provide here a verification for the case when metaInfo() returns undefined.
in getComponentOption.js
[code]
Link: https://github.com/vuetifyjs/vuetify/issues/4958

[2018-08-26 20:39] texdc commented on #181
@Atinux Shouldn't the decorator be included in the this library?
@arthurvasconcelos would you be willing to open an PR?

[2018-08-29 11:46] sqal opened #257 "meta templates does not work correctly"
### Version
1.5.3

### Reproduction link
[https://github.com/sqal/vue-meta-bug-reproduction](https://github.com/sqal/vue-meta-bug-reproduction)

### Steps to reproduce
- Clone repo -> `npm install && npm run serve`
- Open devtools and watch how meta tag `og:title` is rendered while you switch back and forth between two pages, `home` and `about`.

### What is expected?
Meta tag `og:title` should al

[2018-08-30 15:55] mfullbrook commented on #197
So I have found a solution... Vue-meta emits an "event" with the new info https://github.com/declandewet/vue-meta/blob/2cfb8c3531ce593e388fa5e99eb7a4379c72c8f8/src/client/updateClientMetaInfo.js#L55 therefore in your root component you can add a `changed` property to the `metaInfo` object.  e.g.

[code]

[2018-08-30 15:56] mfullbrook commented on #197
Well if i had just RTFM... https://github.com/declandewet/vue-meta#changed-function

[2018-09-02 01:17] darkylmnx opened #259 "title resolving after router's "afterEach" hook, making analytics.js / gtag.js pageviews incorrect"
I'm trying to track page vues using gtag.js, and as a simple case, I just added the pageview in an **afterEach** hook of the router, but the title seems to be resolved later (I guess because of the batch update performed).

This delay messes up pageview titles.

Is there a way to know when the meta title is resolved?

[2018-09-06 07:42] adrienbaron opened #261 "Add support for merging mixins"
A few libraries in Nuxt (vue i18n, Vuetify) uses mixins for Vue Meta.
Vue Meta for now doesn't support Mixins merging, resulting in conflicts when using both those libraries at the same time in Nuxt.

I will try to add support for mixins merging and do a pull request as offered by @Atinux

See: https://github.com/nuxt/nuxt.js/issues/3846

[2018-09-06 10:11] adrienbaron commented on #261
I managed to add the feature this way:
- I register the optionMergeStrategies to be the same as `created`, meaning options get merged in an Array
- I added the ability to `getComponentOption` to merge those array of options

Two things I had to do that I'm not sure about:
- I had to change the test `allows for a custom array merge strategy` in `getComponentOption`
This tests was passing an Array a

[2018-09-08 21:52] NicolasCELLA opened #263 "Google alytics do not see the meta head !"
Hello i dont know why but Google analytics do not see the meta head ! And when i give the url link of my website, the meta description does not exist ! But when i inspect the code in the console the meta is here ...

Do you have an idea ? thx 🙂

[2018-09-19 09:23] DivyeshMindinventory opened #266 "TypeError: Cannot read property 'inject' of undefined"
Here is my server.js which has located in root directory

[code]

[2018-09-21 09:55] zibuyu1 opened #267 "vue-cli3.0的怎么写metaInfo(){}"

[2018-09-21 09:57] #267 closed

[2018-09-23 10:11] #261 closed

[2018-09-26 01:01] kchung opened #269 "v1.5.4 breaks `metaInfo` reactivity"
https://github.com/declandewet/vue-meta/issues/261 and https://github.com/declandewet/vue-meta/pull/262 introduced a breaking feature to the reactivity of `metaInfo`

For example, this component incrementally updates the `title` prop:
[code]

In `v1.5.4` it doesn't react to any of the changes like `v1.5.3` does.

### `v1.5.3`
![1 5 3](https://user-images.githubusercontent.com/879656/46051166-b5d12

[2018-09-26 10:30] yikuo123 commented on #269
I encountered the same problem

[2018-09-27 10:48] manniL commented on #269
Thanks for the detailed issue! We will look into it ☺️

[2018-09-27 11:20] Gecko222 opened #270 "Slash (/) at the meta tags"
Vue: 2.5.17
Vue-meta: 1.5.4

In my component i have this:
[code]

in template:
[code]

Generated html:
[code]

I think there should be no / at the end, before >, because it's void element

[2018-09-27 20:41] LordGuard commented on #269
same problem

[2018-09-28 11:09] homerjam commented on #269
I've got this issue too. After upgrading a Nuxt project to v2.0 the page titles stopped updating. Downgrading has fixed the issue for the time being `npm i -S vue-meta@1.5.3`.

Having looked at the recent commit history I think it must be something to do with [this](https://github.com/declandewet/vue-meta/commit/ad4d61c38ff8e83cf4d933b961cc8875e1e22f60#diff-e64449e75a61afb51d2f85b4a353f764). My gu

[2018-09-28 17:33] devanflaherty opened #272 "Scripts being over ridden by consecutive components"
I'm wanting to utilize vue-meta in a component that outputs content from a wysiwyg. This wysiwyg content can have embed scripts and vue's template renderer doesn't render script tags.

What I've done in the past is to just find the scripts, and append them to the head.

But I'd like to utilize Vue-Meta as I feel it's a better pattern to follow.

**The problem:**
Because there can be multiple wysiw

[2018-09-28 18:33] manniL commented on #253
Has been resolved by `vuetifyjs` already. :relaxed:

[2018-09-29 00:06] #269 closed

[2018-09-29 10:52] issaTan commented on #52
@Atinux  I'm sorry, but it still have this problem.
And I found the reason, here's the code.
[code]

![wx20180929-181139](https://user-images.githubusercontent.com/7577317/46244580-538d6c00-c413-11e8-8356-b1d12120fba7.png)

At line `514`, `info.title === ''` is `true`, so `info.titleChunk` is `undefined`, but `info.titleTemplate === '%s | MySite'` still  `true`, so when `template.replace(/%s/g, ch

[2018-09-29 19:32] manniL commented on #269
Thanks all! Resolved with `vue-meta@1.5.5`

[2018-10-09 00:50] VincentMRA opened #277 "vmid doesn't overwrite parent's tag, but creates a new tag with data-vmid"
Hi guys!

I'm not using any SSR.

Simple VUE 3 framework.

when using vmid on one of the children's components, it creates new tag instead of replacing the parents.

Parent tag:
[code]
child tag:
[code]

Expected result:
`<meta name="description" content="child description>`

actual result:
`<meta name="description" content="parent description" data-vue-meta="true">`
`<meta data-vmid="description"

[2018-10-12 09:23] adrienbaron opened #278 "Performance issue on big pages"
I've a performance issue in Nuxt, that apparently comes from vue-meta.
When creating a certain number of elements (here 50 items from a Vuetify list each with a few child components), vue-meta `getMetaInfo` accounts for more than 50% of the processing time:

![Chrome Dev Tools](https://cdn.discordapp.com/attachments/473406004751499275/500231472280502282/unknown.png)

Also when clearing that list,

[2018-10-12 11:53] pimlie commented on #278
Would it maybe be possible to implement some kind of event based mechanism?

Something like when a component is created it 'registers' with vue-meta _if needed_, and if vue-meta wants to refresh it can just request all registered components to send their meta data? Then we wouldnt have to traverse any tree at all.

[2018-10-12 12:11] adrienbaron commented on #278
@pimlie I really like the idea, we would have to make sure to deregister on destroy to avoid memory leak, but I don't see a disadvantage to this compare to browsing the whole tree. Would be quite a big change though.
@manniL do you know of anything that would prevent us to do that?

[2018-10-12 12:35] adrienbaron commented on #278
@pimlie I would have more thought of maintaining a simple tree structure with a side Map `component` => `Node in the tree`. Then when a component is registered, you go back up it's parent chain, find the first element in the map, get it's node in the tree and add it as child.
As the number of element with meta info is probably not too big that probably would be less costly to do this + browsing th

[2018-10-14 22:16] adrienbaron commented on #278
New development in the investigation ;).
I was wondering why changing my search was triggering a refresh from vue-meta. From the code of vue-meta, refresh should only occur if a component with meta is created/deleted, and this was not the case there.
I checked what was triggering and it turns out that every components in my app has meta info! The source is apparently Nuxt i18n, and more precisely

[2018-10-17 07:47] Antoine-Demailly commented on #263
Your app use  Server-Side Rendering ? If not, that might be the issue. Not vue-meta.

[2018-10-25 12:22] wilco-superbalist opened #279 "Cannot read property 'hasOwnProperty' of undefined"
Running `"vue-meta": "^1.5.5"`

`Cannot read property 'hasOwnProperty' of undefined` on some route changes, not consistent. I have seen `Cannot read property 'title' of undefined` on previous versions, might be related.

Project based on `https://github.com/vuejs/vue-hackernews-2.0`

affected section in `vue-meta.js`:

[code]

[2018-10-26 09:10] calamus0427 commented on #199
me too

[2018-11-01 11:40] joaumg opened #281 "feature request: Add vmid to links / create a specific tag for canonical link"
https://en.wikipedia.org/wiki/Canonical_link_element

Certainly two components need different canonical urls, and for now there is no way of doing so.

[2018-11-01 11:54] joaumg commented on #281
nvm... maybe cache or something, it works okay.

[2018-11-01 11:55] #281 closed

[2018-11-05 11:47] eluminous40 commented on #133
How we can do it in VUE JS?

[2018-11-05 12:03] smcstewart commented on #133
@eluminous40 Unfortunately, you can't right now. Social media crawlers currently do not run Javascript when they scrape your site for meta info. For Vue to have any hope of doing this, the crawlers need to either run Javascript or you need to render your page before the browser using either server-side rendering or pre-rendering.

[2018-11-05 12:07] eluminous40 commented on #133
@smcstewart , Thank for reply. Do you have any idea how we can make it possible in VUE JS?

[2018-11-05 12:20] smcstewart commented on #133
@eluminous40 Short of getting the social media crawlers to run Javascript before they scrape content, no. Common problem with SPAs based on Javascript, not just Vue.

[2018-11-05 12:46] robsonsobral commented on #133
Another 3 options:

1. use [Prerender.io](https://prerender.io/);
2. install the OpenSource version of [Prerender](https://github.com/prerender/prerender) on your server;
3. use a [hosting which offers prerender](https://www.netlify.com/) for social networks crawlers.

[2018-11-05 13:17] jofftiquez commented on #133
@robsonsobral prerender is the way. One of our website uses it. www.fortcupine.com

[2018-11-05 13:20] coolemur commented on #133
@jofftiquez Will prerender work for dynamic data ? For example if you have a list of products in your website that might change frequently.

[2018-11-05 13:30] robsonsobral commented on #133
@coolemur , yes, it does. You can set `window.prerenderReady` to `false` until the parsing of API data is ready.

[2018-11-05 15:10] jofftiquez commented on #133
@robsonsobral Interesting, how will it behave if I, say, requested a new list of data from the server?

[2018-11-05 15:15] robsonsobral commented on #133
If prerender found `prerenderReady === false`, it will wait until its value turns `true`.

You can add `<script>prerenderReady = false;</script>` to the default `index.html` and change it after the page on every route be ready.

[2018-11-05 15:37] eeerrrttty commented on #133
There isn't a way to when facebook checks your link to find meta info to run some restfull code in the server side with a facebook's request then send it a response with the meta infos of that paga?!!!!

This should be a simples link request from facebook what would contain the id of the dynamic data, so in our server we could handle it then respond with meta info.

Is that possible?!

[2018-11-05 15:40] SamJWeissman commented on #133
@eeerrrttty

https://github.com/declandewet/vue-meta/issues/133#issuecomment-435856380

[2018-11-05 15:41] eeerrrttty commented on #133
Well, but how does facebook send this request when it finds my http link in his site?!

[2018-11-05 15:42] eeerrrttty commented on #133
and how does it require the answer to be?

[2018-11-05 22:52] SamJWeissman commented on #133
@eeerrrttty

Client Side Receiving Request:
- Test the user agent header for web crawler
[code]
- If it's a crawler, hit your server side endpoint with whatever ID/query params you need. For my purposes, I fetch the required data  from the database then create and respond with **a FULL html string**. Once the client code receives the string, it can `send` it to whatever crawler hit it.

[code]

[2018-11-06 12:12] arenddeboer commented on #52
It would be awesome if the supplied PR can be merged, this issue is still present as described by IssaTan.

[2018-11-07 07:55] lanbau opened #283 "Title Tags do not load when pages are opened on new tabs"
Title Tags do not load when pages are opened on new tabs

[2018-11-11 19:12] manniL commented on #283
Please create a reproduction (eg. GitHub repo, CodeSandbox, ...)

[2018-11-13 20:31] idaviddesmet opened #285 "Getting the title metaInfo from another component?"
I've got a subheader component that currently renders a title and a breadcrumb from the $route.meta object and I would like to know if there's a way to obtain the metaInfo into this component in order to be able to use the title defined in the view components.

This is the code I'm using to get the title using the route path:

[code]

Thanks in advance!

[2018-11-15 13:08] Seranth commented on #247
I'm using json-ld like this right now

    script: [
      {
        innerHTML: JSON.stringify({
          '@context': 'http://schema.org',
          '@type': 'Website',
          'url': 'https://actisec.se'
        }), type: 'application/ld+json'
      }
    ],
    __dangerouslyDisableSanitizers: ['script']

The problem is that unless I have `__dangerouslyDisableSanitizers : ['script']` the outpu

[2018-12-03 20:12] hecktarzuli commented on #241
Total sidebar: Does your app really need support IE10?  These tags are not supported in IE11/Edge.

[2018-12-03 20:17] hecktarzuli opened #288 "Can you remove a parent meta value?"
Really a question, not an issue.  I set canonical at the App.vue level (root) but would like to remove the tag under certain conditions in child comps (like when we set something to noindex,nofollow).

Is there any way for a child comp to remove the parent meta tag?  It seems like vmid would REPLACE it, but I'd like to totally nuke it.  I'd like to not use any trickery via Vuex and would like to s

[2018-12-04 07:50] davutkara commented on #241
@hecktarzuli This feature can be needed for other purpose. I think if the item of meta array is string, add  string directly.
Also there are a few people who uses old IE browsers.

[2018-12-04 10:32] arenddeboer commented on #279
Hi Wilco, did you find a solution ? I'm running into the same issue.

[2018-12-05 02:51] james-brndwgn commented on #277
You need to have `vmid:'description'` on the parent meta as well.

Parent
[code]

Child
[code]

[2018-12-10 13:16] shiibbyy opened #292 "Title not working from prop info"
Hey there!

So, I am currently running into an issue when using live-data.
I have set it up to work if I input strings of static data, but when trying to pull data from an array (already used to define the page text on screen) it won't.

For example, I have an array of "Resources" in which an object "Title" is in there.
To refer to it in the template, I use {{ resource.resourceTitle }} and it disp

[2018-12-11 14:02] juniorgarcia opened #293 "Adding raw data into the head"
I understand the security concerns about this, but some CMS-like applications has fields to add scripts, CSSs and general content into the `head` tag, configured by the user. This makes the the process to configure data structures that comply with vue-meta hard.

Is there a way to add raw data directly into the `head` tag?

[2018-12-13 18:20] ricardovigatti commented on #233
try again using functions and return your require('~/assets/img/home/bri-booklet.jpg')

[2018-12-14 00:01] ricardovigatti commented on #233
Sorry, what I have said above didn't work... I've tried using base64 image, but I'm still looking for better approaches.

[2018-12-14 00:28] rifton007 opened #295 "doesn't add meta tags"
Hi everyone and thanks for your help.

I want to update meta tags description and keywords.

[code]

Currently, the meta title is correctly updated, but I can't update description and keywords.
Thanks,

[2018-12-17 12:10] waghcwb commented on #217
@ricardovigatti,

Of course. When I opened this issue I didn't know about [Server Side Rendering](https://ssr.vuejs.org), so if your project uses SSR the HTML template will come rendered from the backend.

[2018-12-17 15:06] ricardovigatti commented on #217
Nice, thanks for your message.

We aren't using SSR at the moment and I'm facing issues trying to properly use Facebook's OpenGraph tags. Guess its similar to this <noscript> tag problem.

Do you think the only way to properly implement those features is using SSR?

[2018-12-17 19:50] waghcwb commented on #217
I like to use SSR for SEO purposes, but if you don't want, depending on your project structure you can put the Facebook tags manually on the `index.html` file.

[2018-12-17 20:14] ricardovigatti commented on #217
That's true, and it works.. I just forgot to mention that I need to change those tags based on the active route.. Until now, I saw two ways that could handle this: Pre-fetching and SSR, but idk which one will be the ideal choice for me at the moment.

[2018-12-17 21:57] waghcwb commented on #217
@ricardovigatti,

What's your project architecture? Was created with [`vue-cli`](https://cli.vuejs.org/)? I think SSR is a good choice, but without knowing the scope it's hard to say.

[2018-12-18 00:05] ricardovigatti commented on #217
vue-cli, yes. But it's a PHP project, we don't have a node server yet. Guess SSR needs one, right?

[2018-12-18 11:01] ScreamZ opened #297 "returning nothing make the app bug silently"
Hello,

I'm using nuxt which is using vue-meta with a head object.

If you do the following, this break interface silently :

[code]

instead you have to do the following

[code]

I think add a check for this and dispatch at least a console warning could be nice.

Regards :)

[2018-12-18 13:52] MatthewBooth commented on #285
Agreed. I've got a "Jumbotron" that I want to pick up the title and description from the metaInfo.

[2018-12-19 10:37] Zacaria commented on #157
For the ones who are trying to make it work with Typescript here's how it worked for me:

[code]

[2018-12-20 10:47] waghcwb commented on #217
@ricardovigatti,

No, you don't need a node server, you need _any_ backend server. You can use the same logic of a node server in your PHP server.

[2018-12-20 16:45] DidoMarchet opened #299 "Declare $metaInfo into a component on runtime"
Hi,
I'm trying to make an util based on your plugin.
I've create a plugin that automates the creation of canonical, hreflang if locales are detected and meta tags through data gived from one endpoint.

Basically I watch the $route, I check if the component is a view of the router and I do some logics.
If the component is not a route view I return false and the plugin "is not attached"  on the comp

[2018-12-21 11:51] DidoMarchet commented on #299
Hi,
after a check I've see my needed is get this function public `_refresh`.
It's possible?

thanks and regards,

Davide

[2018-12-23 00:09] waghcwb commented on #217
@ricardovigatti,

Sorry, I was mixing things :sweat_smile:

You can use Vue frontend with any backend, but SSR needs a Javascript engine. Luckily, people already did the SSR implementation for PHP
https://packagist.org/packages/spatie/server-side-rendering

[2019-01-08 10:47] pkjy commented on #181
@arthurvasconcelos got `Object is possibly 'undefined'.ts(2532)` error.
![image](https://user-images.githubusercontent.com/14119424/50825882-2a1a9f80-1375-11e9-9e6f-ad50b009fee7.png)

just add `undefined` check
[code]
to
[code]

[2019-01-12 07:50] cherryred5959 opened #302 "Does not only support v8js engines?"
I would like to perform meta tag operations on server side rendering in v8js using your package.

I first started following your SSR guide.
However, there was a problem with the following sources: [batchUpdate] https://github.com/declandewet/vue-meta/blob/master/src/client/batchUpdate.js)

The problem occurred with an undefined timer-related function.
clearTimeout and setTImeout are only provided

[2019-01-16 12:33] williamchong007 opened #303 "JSON LD as `script` example in `README.md` seems misleading"
Currently the `script` example in `README.md`  look like this

This code would not work, as `__dangerouslyDisableSanitizers` is required for json-ld, but not shown in the example.

However for a simple`script` example, putting `__dangerouslyDisableSanitizers` in seems too much complication, and might promote poor pratice of adding unneeded `__dangerouslyDisableSanitizers`. People might just take a

[2019-01-16 15:23] manniL commented on #303
Feel free to send in a PR ☺️

[2019-01-17 11:04] miniplus commented on #215
Just ran into this issue with vuetify having the hardcoded value and my project using a different keyName. Took me quite some time to debug.

As this issue is half a year old, has this been considered? Just looking for an update @Atinux.

Thanks! :)

[2019-01-23 12:34] Nabellaleen commented on #259
Same problem for me :/ Any tips ?

I didn't found any available hooks in vue-meta

[2019-01-23 15:07] Nabellaleen commented on #259
Same problem for me :/ Any tips ?

I didn't found any available hooks in vue-meta

[2019-01-24 21:48] #303 closed

[2019-01-24 21:48] manniL opened #307 "Add stale bot"

[2019-01-24 21:49] manniL opened #308 "Switch tests from karma to jest (+Vue Test Utils)"

[2019-01-24 21:49] manniL opened #309 "Increase code coverage"
Blocked by #308

[2019-01-24 21:49] manniL opened #310 "Replace greenkeeper with renovate"

[2019-01-24 22:00] manniL commented on #129
As @NicoPennec said. Please use the long form for now.

[2019-01-24 22:00] #129 closed

[2019-01-24 22:01] manniL opened #311 "Allow shorthand for HTML tag attributes"
[code]

Should render `<html lang="en" amp></html>`

[2019-01-24 22:54] manniL commented on #292
Need reproduction.

[2019-01-24 22:55] manniL commented on #283
Stale

[2019-01-24 22:55] #133 closed

[2019-01-24 22:56] #263 closed

[2019-01-24 22:58] manniL commented on #229
Duplicate of #302

[2019-01-24 22:58] #229 closed

[2019-01-24 22:59] manniL commented on #270
Can't reproduce this.

[2019-01-24 22:59] manniL commented on #266
Stale. Please ping if the issue still persists

[2019-01-24 22:59] #266 closed

[2019-01-24 22:59] #197 closed

[2019-01-24 23:00] manniL commented on #257
Fixed with #248

[2019-01-24 23:00] #257 closed

[2019-01-24 23:00] manniL commented on #249
Stale.

[2019-01-24 23:00] #249 closed

[2019-01-24 23:00] manniL commented on #246
Stale.

[2019-01-24 23:00] #246 closed

[2019-01-24 23:02] manniL commented on #140
There are valid reasons to do so. For example the `innerHTML` of a script.

[2019-01-24 23:02] #140 closed

[2019-01-24 23:03] manniL commented on #188
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:03] #188 closed

[2019-01-24 23:03] manniL commented on #99
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:03] #99 closed

[2019-01-24 23:03] manniL commented on #134
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:03] #134 closed

[2019-01-24 23:04] manniL commented on #302
Never used `v8js`. Feel free to send in a PR!

[2019-01-24 23:05] manniL commented on #297
Not sure if the bug is still present.

[2019-01-24 23:07] #277 closed

[2019-01-24 23:07] manniL commented on #279
Needs reproduction.

[2019-01-24 23:09] manniL commented on #242
Feel free to submit a PR.

[2019-01-24 23:10] manniL commented on #227
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:10] #227 closed

[2019-01-24 23:10] manniL commented on #195
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:10] #195 closed

[2019-01-24 23:11] manniL commented on #213
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:11] #213 closed

[2019-01-24 23:11] manniL commented on #216
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:11] #216 closed

[2019-01-24 23:11] manniL commented on #200
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:11] #200 closed

[2019-01-24 23:12] #193 closed

[2019-01-24 23:12] #135 closed

[2019-01-24 23:13] manniL commented on #136
Stale. Please ping/answer here if the issue persists.

[2019-01-24 23:13] #136 closed

[2019-01-24 23:15] manniL commented on #98
Nowadays, the inspector has auto-format.

[2019-01-24 23:15] #98 closed

[2019-01-24 23:17] manniL commented on #270
https://github.com/nuxt/vue-meta/blob/master/src/server/generators/tagGenerator.js#L50

[2019-01-24 23:17] clarkdo commented on #199
@dandan888111 Could you provide a reproducible repo and more detailed description ?

[2019-01-27 22:00] r3dh4r7 opened #313 "Title does not update if tab is not active (viewed/focused)"
Title doesn't update unless tab is active, so in effect, unless you activate a new tab, its title also won't update [(#283)](https://github.com/nuxt/vue-meta/issues/283)

To reproduce: Open CodeSandbox render in new window, stay on the tab to watch the time (seconds) update, then switch to any other tab and it freezes until you reactivate the tab. Same behaviour if you move away from the new tab b

[2019-01-27 22:10] r3dh4r7 commented on #313
The behaviour on Firefox _Quantum 64.0.2 (64-bit) Linux_ is quite weird, update is triggered by hovering and unhovering on the inactive tab, after which the update slows down exponentially, starting from 1 second.

[2019-01-28 14:07] #270 closed

[2019-01-28 14:21] #242 closed

[2019-02-03 17:00] antriver opened #315 "Access the value of other tags in metaInfo function?"
To avoid duplication of code for adding title and og:title tags I would like to be able to set the og:title tag to always be the same value as the title tag. This would probably be useful in some other cases I haven't run into yet too.
As far as I can see the only way to do this is to define both title and meta/og:title on each component. Is there a way to access the value of meta tags from the ch

[2019-02-04 06:13] X1machinemaker1X opened #316 "Meta tags from pages not showing up"
When I use `yarn generate` aka `nuxt generate` to get the html files, the title I set in any of the pages doesn't appear. the template set in nuxt.config.js is there, but the title is not. nor are any of the other head tags set in pages.

[example page](https://github.com/PanyanaResearch/panyana-science/blob/master/pages/index.vue)
[when generated](https://github.com/PanyanaResearch/panyana-scienc

[2019-02-04 10:40] manniL commented on #316
It should do that (as on https://developmint.de/about-us/index.html)
![image](https://user-images.githubusercontent.com/640208/52203466-2fcaae80-2869-11e9-97f4-6ab1f8c1258a.png)

Can you try it with a function instead of a string template and see if the issue persists? 🤔

[2019-02-04 10:54] X1machinemaker1X commented on #316
ok, done. but the generated html files still are missing the title. (see the links above).

[2019-02-04 20:51] X1machinemaker1X commented on #316
I found the issue. in the default.vue layout, I had `<no-ssr>` tags around the `<nuxt />` tags. I basically took the project apart and put it back together to find the issue.

[2019-02-04 20:51] #316 closed

[2019-02-04 20:52] manniL commented on #316
Well, that explains it :tongue:

[2019-02-06 18:13] yekver opened #318 "No way to update page title dynamically."
Let's assume there is a page with infinite scroll. Page contains a bunch of articles and each article that is right now on a viewport must updates page title.
Currently there is no possibility to provide `vmid` fot the `title` property, so I have to manage `title` to keep active only current article title and flush the rest.

[2019-02-06 20:39] manniL commented on #318
I don't see a reason for providing `vmid` for a title.
use Vuex.

Example https://codesandbox.io/s/8l2nj616nj

[2019-02-06 20:39] #318 closed

[2019-02-07 17:45] yekver commented on #318
Thank you for example, but I wonder why title is so special from other meta tags? This is quite strange because all of them (including title) are unique in `<head></head>` section.

[2019-02-08 10:15] manniL commented on #318
Hey ☺️

I think `title` has no VMID capabilities because nobody thought about a case where the title was switched based on components.

Do you think `vmid` capabilities would really help to use the *right* title in your case? 🤔
If so, feel free to send in a PR ☺️

PS: While normal `meta` tags can be present as an array (e.g. http://ogp.me/#array), which is useful in some cases, `title` can't be pr

[2019-02-11 12:53] pimlie commented on #283
@manniL This is a confirmed issue, will include a fix in the next branch

[2019-02-11 13:32] manniL commented on #283
@pimlie updated

[2019-02-11 14:13] pimlie commented on #313
It seems that rAF is completely disabled for inactive tabs in Chrome, probably the only fix for that is to always use timers and not rAF.

[2019-02-12 09:26] antoinerey opened #320 "Calling `this.$route causes huge flickering"
_Note that this issue was originaly created in https://github.com/nuxt/nuxt.js/issues/4945_.

### Reproduction link

[https://codesandbox.io/s/14qm9krom7](https://codesandbox.io/s/14qm9krom7)

### Steps to reproduce

1. Navigate back and forth between the home and about pages. Everything works properly, and there is no flickering at all.
2. Open  the `layouts/default.vue` file, uncomment `console.

[2019-02-13 14:44] codigodo opened #321 "Dynamic meta robots index or no index"
Hello, I'm trying to get the right index or no index status for google bot. Currently the pages are showing the right status in the browser and source view.
But fetching as google displays the default, no index status, when for me in the browser shows index status.

Currently using nuxtJS. is Universal

I'm missing something?

[code]

[2019-02-16 02:42] joshuajazleung opened #322 "Is it possible to dynamically update titleTemplate?"
I use metaInfo() function syntax, and return a titleTemplate function which binds to my root component property. I want the template to change when my property updated. I tested but it's not working. Maybe I missed something?

[code]

[2019-02-16 13:47] manniL commented on #321
@codigodo Could you provide a reproduction repo/Codesandbox?

[2019-02-17 12:16] pbastowski opened #323 "titleTemplate with arrow function and expression produces an error"
Version: `nuxt@next`
Browser: Chrome 72.0.3626.109
OS: MacOS 10.13.6 High Sierra

The following `titleTemplate` arrow function produces an error, see below.

### This does not work
[code]

### This works
The only difference is the explicit `return` statement.
[code]

### Error
![image](https://user-images.githubusercontent.com/5649024/52912740-c3fb3380-32b5-11e9-9138-b741627863ca.png)

[2019-02-17 12:16] pbastowski commented on #323
Sorry, wrong repo

[2019-02-17 12:16] #323 closed

[2019-02-19 20:13] codigodo commented on #321
Sure i'll prepare one

[2019-02-19 20:15] Timibadass commented on #283
Hi @manniL , how do I get my app to reflect this update?

[2019-02-19 20:25] manniL commented on #283
@Timibadass It'll take a bit until the next release will be published, but you can try out the `next` branch in the meantime.

[2019-02-20 08:08] pimlie commented on #322
This should be possible indeed, but `this` in the titleTemplate fn might be set to a different component then the one you expect. More specifically, its probably the last component which triggered the update for that batchUpdate sequence. See the src code here: https://github.com/nuxt/vue-meta/blob/d7d15260aa9457907da2955d3719da2e3ca55cee/src/shared/getMetaInfo.js#L155

Could you please verify tha

[2019-02-20 08:17] pimlie commented on #315
This is more something of a shared state question I guess? Eg you can use Vuex to set the title from the child so it changes in the parent or emit an event from the child component to the app.

[2019-02-20 08:22] pimlie commented on #299
This has been (mostly) fixed in the next branch, we still set a global mixin for all components on the page but now only inject `$meta` when the component has metaInfo defined.

[2019-02-20 08:37] pimlie commented on #320
As mentioned in my comment in the linked Nuxt issue, we should have more control for throttling updates for issues like this.
Also I think we should treat page navigation (with vue-router) as a special case and add navigation guards to only update the head once after navigation has finished

[2019-02-20 09:10] manniL commented on #322
Ah, right. arrow functions and scope binding is a tricky thing, because you can't re-bind them. Better go for `titleTemplate(chunk){}` if you need the `this` inside.

[2019-02-21 13:43] karakum commented on #322
same problem.
Title changed only while page rendering. In browser there is no update of title(through computed property in titleTemplate function), it still the same as on page render.

[2019-02-21 13:50] pimlie commented on #322
@karakum Could you or @joshuajazleung please post a working/minimal reproduction?

[2019-02-21 14:13] karakum commented on #322
@pimlie https://codesandbox.io/s/k2x31ly5oo
just open app in new window to see window title

[2019-02-21 14:33] manniL commented on #322
@karakum Yeah, looks like `titleTemplate` is bound to the `root` component. that's why it doesn't have the computed props or data attributes available.

There is a hacky workaround though:

[code]

[2019-02-21 14:45] karakum commented on #322
@manniL looks good, but what about default layout component. And I have to modify all pages for this title-object value.
I have `this.newMessages` in layout and `head() / title` are in pages components.

[2019-02-21 15:05] manniL commented on #322
@karakum you can use `head` in layout as well ☺️ Maybe a higher order function could work for that (as @pimlie suggested).

[2019-02-21 15:38] karakum commented on #322
@manniL @pimlie here my configuration example (layout(with titleTemplate) and page(with title))
https://codesandbox.io/s/v05kop794y
I don't understand about 'higher order function', can you explain and help modify my codesandbox to work properly?

[2019-02-21 21:45] pimlie commented on #322
I had another idea, could you please try this? (CSB doesnt work for me)

[code]

[2019-02-22 07:16] karakum commented on #322
@pimlie it doesn't work.

[2019-02-22 08:37] pimlie commented on #322
@karakum @joshuajazleung

The reason why this problem exists is due to how reactivity works in Vue and outside the scope of vue-meta (unless we refactor everything which we might do for vue-meta 2.0). The proof for this is because in the csb you get `0 messages` and not `undefined messages`.
If `metaInfo` (or `head` in Nuxt) is a function then that function is treated as a computed property. Vue w

[2019-02-22 09:22] karakum commented on #322
@pimlie I take my words back - this realy worked! I don't know why it happend before, but now all right.
`const cnt=this.newMessages` in `head()` resolve issue;
Thanks a lot!

[2019-02-22 09:26] pimlie commented on #322
Great!

@joshuajazleung Please let us know if your issue is resolved as well by setting a local variable

[2019-02-22 11:14] DidoMarchet commented on #299
Great! Have a nice day!

[2019-02-22 11:14] #299 closed

[2019-02-22 11:34] manniL commented on #308
Resolved in the next branch (thanks to @pimlie). #319

[2019-02-22 11:34] #308 closed

[2019-02-22 14:32] codigodo commented on #321
Looks like the problem was related to the google console, suddenly it disappeared.

[2019-02-22 14:32] #321 closed

[2019-03-04 16:29] inweid opened #325 "&quote"

[2019-03-05 11:43] pimlie commented on #325
You dont need to escape quotes yourself, vue-meta will do that for you. Thats also why the above doesnt work as the escaping is rather simple and it also just replaces all `&`'s with `&amp;`. If your input somehow is already pre-escaped, just [unescape](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/unescape) your input when setting the title for vue-meta

[2019-03-05 19:18] hecktarzuli commented on #259
Same here.  But I think it's larger than this, if you look at window.location.href, it's even the old url too.. ie, it may not have anything to do with vue-meta and everything to do with listening to the right event (vs afterEach).. I'll post here if I find the answer.

[2019-03-06 12:46] pimlie commented on #259
In the next branch I have added an afterNavigation hook which will at least solve the document.title issue

@hecktarzuli Shouldnt the window.location.href be updated once the DOM is updated?

[2019-03-06 17:21] hecktarzuli commented on #259
@pimlie in theory yes.  I was talking more about the first comment.  If @darkylmnx is using afterEach for GA, he may want to verify the urls being sent are correct.  In my project, they weren't :(   A simple console.log(window.location.href) just before your GA hit should give you a clue.

[2019-03-06 17:26] darkylmnx commented on #259
In mine they are randomly correct depending on many things.

We need to find a hook that actually knows if the component is rendered,
afterEach doesn't seem to do that so the question is where yo globally send
GA pageviews ?

For now I'm manually sending it in all my page components but it's
cumbersome and repetitive

Le mer. 6 mars 2019 à 18:21, Josh Deltener <notifications@github.com> a
écrit :

[2019-03-06 17:34] hecktarzuli commented on #259
@darkylmnx GA doesn't have to be instant.  There is an outstanding bug in vue-router that posa will work on once he gets time.  In the meantime, I'd just use a timeout of ~ 500ms and call it a day :)

[2019-03-06 17:36] pimlie commented on #259
Did you look at vue-analytics?

Anyway, the `afterNavigation` hook I added is the only one that will work probably because vue-meta will always asynchronuously update the headers which means that no vue-router hook will ever be sufficient.

If you need it fixed now, add a beforeEach hook and trigger the GA in the first vue-meta changed callback after that beforeEach hook has run. I used that schem

[2019-03-06 17:37] darkylmnx commented on #259
Well that's what I did at some point but there are issues with lazy loading
components it's seems so I just did it in each page and it's okay.

Le mer. 6 mars 2019 à 18:34, Josh Deltener <notifications@github.com> a
écrit :

[2019-03-06 17:39] darkylmnx commented on #259
Vue+analytics has the same issue and randomly send the title of the
previous page from time to time. It seems to be complicated to find a way
to fix this as this is related to the vue-meta update timing.

Le mer. 6 mars 2019 à 18:36, Pim <notifications@github.com> a écrit :

[2019-03-06 17:42] hecktarzuli commented on #259
Are you hitting GA directly, or are you going through Google Tag Manager?  If GTM, you could just use a custom event vs the internal 'history changed' trigger.  That's what solved our problems.  It also doesn't help that route changes trigger on load when they really don't, thus you get double first page hits quasi-randomly.

[2019-03-06 18:38] darkylmnx commented on #259
No I'm using gtag.js directly which is like hitting GA directly. I'm not
using GTM.

Le mer. 6 mars 2019 à 18:42, Josh Deltener <notifications@github.com> a
écrit :

[2019-03-07 08:41] pimlie commented on #295
If this is still an issue, please create a small reproduction for us to check

[2019-03-07 12:36] janswist opened #326 "vue-meta updates only on hot reload"
I have a problem wit `vue-meta` where on normal page load nothing happens and when I change something in the code and hot reload kicks in it suddenly update all the meta properties.

I'm using Vue.js SPA. Anyone knows what that could be?

[2019-03-07 13:05] pimlie commented on #326
Hot reload as in during development? Could you maybe create a minimal reproduction (github or csb)?

[2019-03-07 13:06] janswist commented on #326
Yes, during development. I don't know what to reproduce - I just added as stated in vue-meta readme and it worked earlier normally and now it's not without changing anything (?)

[2019-03-07 13:11] pimlie commented on #326
Not updating means its probably a reactivity thing. A reproduction shows me what you are trying to do, eg do you use a plain object or a fn for metaInfo?

[2019-03-07 13:12] janswist commented on #326
I'm using fn for metaInfo like this:
[code]

[2019-03-07 13:13] janswist commented on #326
I'm using fn for metaInfo like this:
[code]

[2019-03-07 13:16] pimlie commented on #326
So the problem might be that this.job is not reactive, please take a look at https://vuejs.org/v2/guide/reactivity.html and especially the caveats section.

If that still doesnt solve your issue, please create a working reproduction so I can see all the code that is causing this issue.

[2019-03-07 13:18] janswist commented on #326
I thought about that, but all the other aspects of page that are dependant upon `this.job` are loading properly (and asynchronously) - can async be the case?

[2019-03-07 13:19] pimlie commented on #326
Every line of code is a possible bug, so no but yes ;)

[2019-03-07 16:33] pimlie commented on #315
@antriver I might have misunderstand your question, maybe you we're looking for this?https://github.com/nuxt/vue-meta/pull/248#issuecomment-448161992

[2019-03-07 18:17] pimlie commented on #293
At the moment this is not possible with vue-meta, but we are working on a new version where this might become possible. It would be very helpful if you could list some example output here of those CMS-like applications

[2019-03-07 18:21] pimlie commented on #288
Unfortunately this is not possible. Do you have a suggestion how this would work?

Eg currently vue-meta works by deepmerging all the metaInfo objects of the components on a page, which means by design that adding/overwriting works but deleting wont unless we introduce a special case of `meta.content === false`

[2019-03-07 18:29] pimlie commented on #297
I am quite sure this is a duplicate of #279 (or at least this is a cause of that issue), will close it as such.

[2019-03-07 18:29] #297 closed

[2019-03-07 18:32] pimlie commented on #279
When testing this it seems to be triggered by not returning anything from `metaInfo` (or `head` in nuxt) as mentioned in the linked issue

[2019-03-07 18:38] pimlie commented on #272
You might have found a workaround already in the mean time, but vue-meta already merges all metaInfo objects from all components on a page. So it seems what you want should already work as far as I can deduct from your code example

[2019-03-07 18:42] pimlie commented on #253
Seems #279 was also a duplicate of this one. Closing this one in favor of that one.

[2019-03-07 18:42] #253 closed

[2019-03-07 18:51] pimlie commented on #240
The example you mentioned is already possible (maybe in the mean time) and generates the following html:
[code]

So I think we can close this issue or did I not understand your request?

[2019-03-07 19:03] pimlie commented on #224
This seems to be resolved by the fix for issue #283 which just forces vue-meta to run once when the page has loaded

[2019-03-07 19:42] pimlie commented on #172
Isnt this wat mixins are for in Vue? So I'd propose to close this issue as the above pattern just wont be possible in Vue v2 afaik. I'll leave the closing to @manniL if he agrees, he might have a possible solution for this

[2019-03-07 19:45] pimlie commented on #199
Based on google translate I would say this is a possible duplicate of #224?

[2019-03-07 22:32] manniL commented on #172
@akhoury This was added but had been removed since because it caused issues (see https://github.com/nuxt/vue-meta/pull/273 and following).

[2019-03-07 22:32] #172 closed

[2019-03-07 22:33] manniL commented on #240
@pimlie He is looking for sth. like a `onload` "hook" to execute code after the javascript has been loaded (which "guarantees" that the code finds the globals injected by it for example).

We actually need a solution for this common problem.

[2019-03-07 22:58] pimlie commented on #240
Any suggestions would be appreciated, I am struggling a bit with how this would work with ssr generated code (unless we dont render the code that should run afterwards on ssr).

[2019-03-07 23:09] manniL commented on #240
@pimlie well, for SSR that part shouldn't matter much if I recall correctly. What are your concerns there?

[2019-03-07 23:12] pimlie commented on #240
Maybe I still dont understand the problem, but am I correct you need a solution for eg the problem I have with nuxt-matamo where I load an external library that sets `window.Piwik` and I have to wait in my plugin template until that external lib is loaded before I can start my pageview tracker?

[2019-03-07 23:14] manniL commented on #240
@pimlie exactly. we can use the `onload` function (or `load` event) for the script tags for it. See https://developer.mozilla.org/en-US/docs/Web/Events/load :relaxed:

[2019-03-07 23:26] pimlie commented on #240
Yeah exactly, thats what I meant with not rendering them on ssr if we'd need to dynamically create script tags to add an onload listener. With some fancy stuff we could probably ssr the first nodes of an async branch (and use an onload attribute in the html with some global reference) but all childs still need to be dynamically created then and cant be rendered on ssr I guess. That might also have

[2019-03-07 23:33] manniL commented on #240
@pimlie We'd have to test when the external scripts injected through vue-meta are loaded when using SSR first (timing-wise). I know there are differences between the first render and the navigation across routes in SPA mode too.

In the worst scenario we could make that feature SPA-mode only (where it's most useful IMO)

[2019-03-07 23:48] pimlie commented on #240
hmm yes, and we could still preload those child script files which means the render performance shouldnt be effected that much I guess

[2019-03-08 10:11] pimlie commented on #311
I guess this is the same as boolean attributes? Or do you mean something else with shorthand?

[2019-03-08 10:15] pimlie commented on #293
Btw, elements listed in head are quite simple to parse to a json object. See eg the related issue #272 for a possible implementation

[2019-03-08 10:16] pimlie commented on #288
@manniL Wdyt about this? I think #204 is similar

[2019-03-08 10:22] pimlie commented on #215
vue-meta v2 will have a getOptions method so you can call `this.$meta().getOptions().keyName`

[2019-03-08 10:32] pimlie commented on #326
@janswist My last comment might not have been very helpful, but please create a reproduction which we can check as that is much easier/faster for us then discussing all theoretical possible causes. If you managed to solve this issue in the mean time, please close it.

[2019-03-08 10:39] pimlie commented on #244
Please add a reproduction if this is still an issue, when I test this with
[code]
there is a style tag added at the end of the body and my body has a blue background

[2019-03-08 10:56] manniL commented on #244
Closing this as stale. If there are still problems, please ping us here :relaxed:

[2019-03-08 10:56] #244 closed

[2019-03-08 10:57] manniL commented on #288
@pimlie Not sure whether that would add too much complexity :thinking:

[2019-03-08 10:58] manniL commented on #311
@pimlie Exactly! But I think that this example doesn't work properly at the moment.

[2019-03-08 11:06] pimlie commented on #288
I think this should work by ignoring source when `source[contentKeyName] === false` or `source.innerHTML === false` in arrayMerge and when we delete data properties in getComponentOption when there are `false` so they dont get deepmerged.

[2019-03-08 11:08] pimlie commented on #311
It should be as easy as adding `amp` to here: https://github.com/nuxt/vue-meta/blob/next/src/shared/constants.js#L56

Do you know of more missing attributes?

[2019-03-08 11:16] pimlie commented on #241
This might cause a problem when using multiple child components which set the same vmid and only one has the comments defined. Not sure if we can guarantee the correct order in that case when everything is merged

@manniL Wdyt? We could also add `prefix` / `suffix` attributes (which maybe only work on ssr?)

[2019-03-08 11:23] pimlie commented on #285
You could manually call the refresh method `this.$root.$meta().refresh()` which returns the metaInfo object

@manniL Do you think we should add a method which returns the last metaInfo?

[2019-03-08 11:28] pimlie commented on #198
Isnt it possible for a ssr page to contain user state when eg the url has query parameters which are 'ignored' by the router but are used in e.g. nuxt's asyncData? Cause that would make this caching much more difficult I guess?

[2019-03-08 11:56] manniL commented on #311
@pimlie Exactly. Not so far, no :thinking: Maybe we could give the users an option to force a certain behavior for these values? :thinking:

[2019-03-08 11:57] manniL commented on #288
@pimlie I'd probably tend to use `null` for it as false could be a valid value :thinking: But yeah, that sounds like a decent approach :clap:

[2019-03-08 12:57] pimlie commented on #311
Hmm, I am not in favor of making everything configurable. Especially in this case where html attributes should adhere to a standard. Whats useful for one user should be useful for others as well. I prefer that we force the users to make a pr so other users can benefit from the missing attribute as well

[2019-03-08 13:13] manniL commented on #311
fair enough :relaxed:

[2019-03-08 13:13] #311 closed

[2019-03-08 13:23] pimlie commented on #288
Is `false` a valid value or `'false'`? Because we actually need two falsy values to differentiate between nuking the parents vmid (this issue) or ignoring the childs (issue 204). I would propose to use null for this issue and false for 204, but you might have a better idea?

[2019-03-08 13:44] manniL commented on #288
@pimlie hmm. good question, don't know by heart.

hm.. couldn't we use `undefined` for "No content" and `null` (or `false`?) for nuking? :relaxed:
I think that'd be closer to the semantic expressions for `undefined` and `null`

[2019-03-08 14:13] manniL commented on #198
@pimlie That's correct, yeah. We probably can't find out all "dependencies" for the vue meta attributes easily.

[2019-03-08 14:20] manniL commented on #241
I'm not sure if it's worth the hassle implementing it as it only helps With IE < 11. People using Nuxt can always use a custom AppView (HTML file) anyway.

[2019-03-08 14:24] manniL commented on #285
@pimlie Well, I'd say that depends on the overhead of refresh. If it's a "costly" method to call, then we could think about adding a "fast" one.

[2019-03-08 14:31] pimlie commented on #288
@manniL The only problem I have with `undefined` is that given `a = {}` then `a.content` is also undefined, which means you have to check for both key existence as key value. But will change it for 204

[2019-03-08 14:33] manniL commented on #288
@pimlie Do we have to distinguish between `a = {}` and `a = { content: undefined }`?

[2019-03-08 14:37] hecktarzuli commented on #288
It's possible I don't understand everything in this lib, but couldn't we just introduce functions or something vs magic values?  To me it would make a little more sense to call removeMeta(something) and resetMeta(something) vs setting a value to null, false, etc..

[2019-03-08 14:46] pimlie commented on #288
Hmm, maybe its code style preference but `a = {}` means to me implicit behaviour and `a = { content: undefined }` means explicit behaviour. Personally I often like the latter because you have to indicate that you want the app to behave in a certain manner so its less likely to do stuff you didnt expect (because you didnt read the docs and really just wanted a meta tag without content like meta cha

[2019-03-08 14:59] pimlie commented on #241
I have added the `target: v3` label because if we are going to refactor vue-meta as proposed then it should probably be supported by default already (using vue 3.0 fragments)

[2019-03-08 15:02] pimlie commented on #285
With the changes in the next branch its less costly then it was before ;)

So lets leave this be until there are complaints about the performance

Please note that the return signature of `refresh` will change in vue-meta 2.0

[2019-03-08 15:17] pimlie commented on #190
I am not sure what we could do to fix this as afaik Vue doesnt emit any events when a component is re-used from cache? The docs also mention you shouldnt use component caching when child components produce side effects (which is what vue-meta does): https://ssr.vuejs.org/guide/caching.html#when-to-use-component-caching

But if anyone has an idea for a workaround we are open to suggestions ofc!

Bt

[2019-03-08 15:50] pimlie commented on #302
During SSR the timeout functions shouldnt be called as they are client side only, this might have been a packaging issue because there was only an umd build which always included batchUpdate even though batchUpdate would never be called on SSR.

Starting with vue-meta 2.0 this should be more separated, so please try again once v2.0 has been released

[2019-03-08 17:24] janswist commented on #326
I'm closing it for now because I had to move on with project, but when I will get back at it I will try to provide something more tangible.

[2019-03-08 17:24] #326 closed

[2019-03-10 11:36] pimlie opened #328 "[v2] build size is too large"
When working on v2.0 I was advised to follow the doctrine of letting the transpiler worry about language features, but it seems this resulted in a hugh increase in package size. Current v2 minified size is ~30KB

Possible solutions:
- fix the build (maybe I am missing a magic feature in the rollup config?)
- refactor to dont use 'modern' language features
- create separate umd-classic and umd-mode

[2019-03-10 11:39] pimlie opened #329 "[docs] create separate docs website"
Docs needs to be updated for v2, probably we should take this as an opportunity to create a separate docs website. Will probably use vuepress for that unless someone has objections

[2019-03-10 11:44] pimlie opened #330 "create next/edge package"
We should create next/edge packages so we can easily test beta features. This will probably be also very helpful when we start working on v3.

Maybe this is overkill, but I could imagine edge being a nightly build of the master branch and next a nightly build of the next branch?

[2019-03-10 11:57] pimlie commented on #325
@manniL Wdyt, we could probably 'fix' this by calling unescape first on user titles before we escape ourselves. But feels a bit overly helpful, if the user eg receives an escaped title from a cms he could unescape it himself as well.

[2019-03-10 15:03] pimlie opened #331 "update typings"
The types need to be updated for v2

[2019-03-11 16:21] pimlie commented on #328
resolved through bffc742 and b42618c

[2019-03-11 16:21] #328 closed

[2019-03-11 22:00] manniL commented on #328
Really wondering how object spread/object assign already causes trouble/issues there.

The current workaround is decent but I'd suggest finding the root cause in a future version so we can keep using new features in the code :relaxed:

[2019-03-11 22:03] manniL commented on #325
@pimlie I think this (unescaping stuff) should belong to the userland. I don't see a common use case here.

[2019-03-11 22:24] pimlie commented on #328
What I did was remove babel, add buble, imported a `polyfill.js` in `browser.js` and added to the polyfill module
[code]
Thats where the 4KB came from, without the single polyfill it was 10KB, with 14+KB

I also simply checked babel's polyfilled 30KB gzipped lib to see what was in it. Eg it also contained quite a bit of stuff about regexes, probably because the polyfills not only enable features b

[2019-03-12 12:47] itzaks commented on #293
I have the same issue. Wanted to create a "custom html" field for the client in the cms, that they can use to add code to the site. The content could look like this for example:

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"

[2019-03-14 18:16] BRafols opened #333 "Title flickers on page change"
1.- Go to: [https://nuxtjs.org](https://nuxtjs.org)
2.- Click on "Examples"
3.- You can see that the title flickers for a very short time in which it shows: 'https://nuxtjs.org' as the title.

Then it goes to the normal title.

Expected behavior:

It should wait for the new page to be ready before changing the title and only then take the title from the `head()` method from the new page

[2019-03-16 16:07] inweid commented on #325
@pimlie unescape() does not solve the problem

[2019-03-19 13:33] pimlie commented on #325
@inweid Could you create a minimal reproduction which shows the issue you are experiencing?

[2019-03-19 13:36] pimlie commented on #333
This could be solved in `v2.0` with enabling `refreshOnceOnNavigation`. Otherwise its just a quirck of how vue-meta retrieves metadata from (page) components

[2019-03-19 14:50] inweid commented on #325
@pimlie solved the problem with this way (RegEx)

[code]

[2019-03-19 15:01] pimlie commented on #325
Thanks for the udpate. We might consider this a bug anyway because I only just realised now the disableSanitizers dont work for title, will leave this issue open in the mean time

[2019-03-19 15:06] manniL commented on #333
There'll be an edge package soon.

[2019-03-19 15:08] inweid commented on #325
@pimlie but I would like to see such a solution for vue-meta, for example

[code]

[2019-03-20 16:31] janesser opened #335 "Javascript onload hook"
Hi folks,

we have a use-case where we are lazy loading some library, e.g. from component.mount().
Then we sleep for 100 millies and use some methods from the js-lib loaded.

The usage is from vue-components typescript and will place some result into one of the components properties.

https://stackoverflow.com/questions/16230886/trying-to-fire-the-onload-event-on-script-tag

Actually there is the

[2019-03-20 17:53] pimlie commented on #335
See #240, at the moment this is unfortunately not supported nor is it planned for v2.0

[2019-03-21 10:21] manniL commented on #335
Duplicate of #240

[2019-03-21 10:21] #335 closed

[2019-03-22 09:49] yekver commented on #331
[code]

[2019-03-24 14:15] pimlie commented on #331
@yekver `script.type` seems to be required atm, will remove that for v2

[2019-03-29 19:23] nomadoda opened #340 "Typescript compiler fails when using metaInfo() function"
I would like to access component data from `metaInfo()` function, but typescript compiler throws me an error:

[code]

Notice that the compiler also outputs errors in the `sayHi` method. The errors only occurs when using `this` in the `metaInfo()` function

[2019-03-29 23:03] pimlie commented on #340
Do you have your own types defined so typescript nows name, country are valid properties (and what their type should be)?

When I try your example it also throws an error when I use something like `return this.name` in `sayHi`

[2019-03-30 07:30] nomadoda commented on #340
Just using default typescript setup, it should know data property types. Only when I use `this` in `metaInfo()` compiler doesn't know data properties. I could perhaps make a small repository.

[2019-04-02 08:46] lwansbrough opened #341 "Allow direct access to `getMetaInfo()` via app.$meta"
We use standard Vue SSR. One of the things we want to be able to do is provide conditional logic for the HTTP status code returned by Vue SSR. We think vue-meta would be an appropriate place to put this, so we've added a `httpStatusCode` property to our metaInfo section of our page page components. Trouble is, we can't actually access this properly in our server render method. Here's what I'd like

[2019-04-02 10:25] pimlie commented on #341
Although I am all for hackability, this feels like extending vue-meta' s scope a bit. Why are you using vue-meta for this? Is it because the httpStatusCode can be set by child components as well and you need vue-meta's merge capabilities?

[2019-04-02 17:08] lwansbrough commented on #341
I think if we look at this as a general request to have access to the raw data, we don’t have to consider the specifics of our hacky situation. But for context, we see vue-meta as a way of providing anything meta-oriented, in a more general sense. HTTP status, perhaps headers. Having access to that raw data would allow us to abuse it as we need. Right now it feels like it’s sort of artificially lo

[2019-04-02 18:00] pimlie commented on #341
The major problem I see with exposing getMetaInfo, and thus officially supporting vue-meta to be used for otehr meta information then html metadata, is that we are possibly unleashing a whole lot of additionally needed features while vue-meta's original scope is to 'just' provide metadata elements. But I understand your point and why it could be useful.

@manniL @Atinux wdyt about this?

[2019-04-03 00:11] theprojectsomething commented on #215
@pimlie `this.$meta().getOptions()` is currently listed in the 1.6 API docs: https://vue-meta.nuxtjs.org/api/#meta-getoptions

[2019-04-03 08:01] manniL commented on #341
@pimlie I also think this would make the scope of vue-meta way too large.

You have route meta, the ctx (in Nuxt 2), Vuex and so on, so there are plenty of options already.

[2019-04-03 12:15] sgtfrankieboy commented on #341
I'm not sure how making a single method accessible will make the scope of a project too large? I also don't see how it would unleash other needed features?

@manniL Route Meta isn't possible because the data is dynamic, nor does the project use Nuxt.

I personally find the ability to set the HTTP Status code through vue-meta a very appropriate action. The main reason to use the library is for SEO

[2019-04-03 12:43] bdrtsky commented on #261
I am not sure, this option is working or not? I am trying to use mixin with `head` but it's not working

[2019-04-03 13:03] bdrtsky commented on #278
Nice found. I also found that `seo` option in nuxt-i18n cause issues, for example when you have long page transition, then when switching pages meta title blinks with default value, wich is inappropriate, so I turned `seo: false` and made this tags myself.

[2019-04-03 14:08] Atinux commented on #341
Hi @sgtfrankieboy

I agree with @manniL and @pimlie, this is out of the scope of `vue-meta`, but I understand your concern.

Actually, you have access to `this.$ssrContext` inside your Vue components when server-rendered.
If you look at it, you will see a `httpCode` variable, default to `200`.

Here's an example of updating it (example of `<script>` of a component):
[code]

Of course this will dep

[2019-04-03 14:08] #341 closed

[2019-04-03 15:39] adrienbaron commented on #261
This PR was reverted because it was breaking other things (see: https://github.com/nuxt/vue-meta/issues/269)

[2019-04-03 15:42] adrienbaron commented on #278
@bdrtsky You can checkout this documentation on how to improve perfs of Nuxt i18n SEO (and avoid them being recomputed for every component rerendering on the page): https://github.com/nuxt-community/nuxt-i18n/blob/master/docs/seo.md#improving-performance

[2019-04-03 23:34] lwansbrough commented on #341
Great solution @Atinux and I agree that your example represents the correct way to do this. Cheers!

[2019-04-04 09:20] bdrtsky commented on #278
Great link, didn't saw that before, thanks @adrienbaron

[2019-04-08 08:46] Ezra-Siton-UIX opened #344 "Q: Their is a way to add scripts before body close?"
[code]
I follow the docs and dont find this idea (Very usefull). Thanks

[2019-04-08 08:50] Ezra-Siton-UIX commented on #344
I find the answer.

[code]
Thanks!

[2019-04-08 08:50] #344 closed

[2019-04-16 06:47] earthtone opened #345 "Third-party library not adding dependency to Window"
When trying to inject a `script` tag with a third-party library into the head from `App.vue` using vue-meta, the script tag is added to the DOM correctly, but the dependency is not attached to the `window` as expected.

This looks similar to issue #139 , which seems resolved for SSR, but I am trying to achieve this on a single-page application generated with vue-cli.

![Screen Shot 2019-04-16 at 4

[2019-04-16 08:32] pimlie commented on #345
Normally when the tag is added (which it apparently is), then vue-meta job's is done and its up to the browser to load the script. But are you sure the script file is being loaded? Eg please check the Network tab and make sure the script request doesnt result in some http error (eg due to adblockers or csp rules)

[2019-04-16 12:49] earthtone commented on #345
@pimlie thanks for the response.

Yes, it looks like my issue is that the browser is not loading the script. I'm receiving warnings regarding "unsafe-inline" and "https within script-src", but no errors are being thrown. Monitoring the network tab, it looks like the script is not being downloaded, even when I append a timestamp.

I know it's not the responsibility of `vue-meta` to do anything more

[2019-04-16 12:53] pimlie commented on #345
@earthtone This should give you insights on how to solve it: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

If you are using Nuxt its just a question of adding the domain to your nuxt.config, see here: https://nuxtjs.org/api/configuration-render#csp

[2019-04-16 14:17] earthtone commented on #345
Thanks for the information. Unfortunately we're not using Nuxt, so I'll have to probably update the CSP rules.

To clarify, it's completely expected that adding the script tag via the DOM API's `appendChild` method works for loading the script, but adding it via vue-meta, correct? Just want to make I understand what the problem is.

[2019-04-16 14:38] pimlie commented on #345
Well, if the csp rules are the only issue that prevents the script from loading then afaik not really. Your browser should respect those csp rules, no matter if it parses a script tag from html or when a script tag is added with appendChild.

Besides, if the script tag doesnt exist (on page load) after which the tag is added by vue-meta, then vue-meta also uses appendChild. See here: https://githu

[2019-04-16 21:06] earthtone commented on #345
After reading through the JSDoc comments, I realized I made an embarrassing typo in my implementation -- `scripts` vs `script`! 😅

@pimlie thanks so much for the help debugging this.

[2019-04-17 00:19] mjatharvest opened #346 "Minor Validation Error with Async and Defer in Meta Info"
## Description

This is a very small thing, when adding a script tag to the head via metaInfo, I see that the async and defer attributes on the script tag have a value of true.

### Steps to reproduce

[code]
### Expected result
`<script data-vue-tag="true" src="//www.google.com/recaptcha/api.js" async defer></script>`

### Actual result
`<script data-vue-tag="true" src="//www.google.com/recaptcha

[2019-04-19 18:29] #345 closed

[2019-04-20 10:51] #259 closed

[2019-04-20 10:51] #283 closed

[2019-04-20 10:51] #204 closed

[2019-04-20 10:51] #215 closed

[2019-04-20 10:51] #231 closed

[2019-04-20 10:51] #288 closed

[2019-04-20 12:31] pimlie commented on #331
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help testing and report any follow-ups in a new issue

[2019-04-20 12:31] #331 closed

[2019-04-20 12:32] pimlie commented on #329
https://vue-meta.nuxtjs.org

[2019-04-20 12:32] #329 closed

[2019-04-20 12:33] pimlie commented on #320
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 12:33] #320 closed

[2019-04-20 12:34] pimlie commented on #310
@Atinux I think you need to manually approve the renovate app for the vue-meta repo

[2019-04-20 12:34] pimlie commented on #309
Done

[2019-04-20 12:34] #309 closed

[2019-04-20 12:34] pimlie commented on #279
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 12:34] #279 closed

[2019-04-20 12:35] pimlie commented on #278
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 12:35] #278 closed

[2019-04-20 12:35] pimlie commented on #224
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 12:35] #224 closed

[2019-04-20 12:37] pimlie commented on #333
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 12:37] #333 closed

[2019-04-20 12:39] pimlie commented on #340
Please also check the just released v2.0 release candidate as that has a lot of typescript improvements as well

[2019-04-20 12:40] pimlie commented on #346
Closing as changes for this issue are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

See here for specific info about boolean attributes in `v2`: https://vue-meta.nuxtjs.org/guide/special.html#boolean-attributes

[2019-04-20 12:40] #346 closed

[2019-04-20 12:41] pimlie commented on #330
This is on-hold for the time being, will close this issue until it becomes relevant again for v3

[2019-04-20 12:41] #330 closed

[2019-04-20 12:49] pimlie opened #348 "(v2) error when using this.$route in metaInfo"
The first time metaInfo is called it seems `this.$route` has not yet been set.

Failing code:
[code]

[2019-04-20 13:07] pimlie commented on #215
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 13:08] pimlie commented on #204
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 13:08] pimlie commented on #231
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 13:08] pimlie commented on #288
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 13:08] pimlie commented on #259
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 13:08] pimlie commented on #283
This issue has been closed as changes for it are included in the [v2 release candidate](https://github.com/nuxt/vue-meta/releases/tag/v2.0.0-rc.0). Please help us testing the release candidate and report any follow-ups in a new issue

[2019-04-20 20:16] manniL commented on #2
Stale as we have tests in the https://github.com/nuxt/vue-meta/tree/next branch.

If specific examples are still wanted, please raise another issue.

[2019-04-20 20:16] #2 closed

[2019-04-21 19:03] focux commented on #313
I'm having this bug too, is there any work around until is fixed?

[2019-04-21 19:31] pimlie commented on #313
@focux There is a partial fix in the release candidate for v2. Eg I dont think using rAF actually holds that much more value over timers as we can probably have the same effect by debouncing the update to 1/60 seconds.
So maybe we can just remove rAF and use timers as said, but maybe there are other issues? Maybe add an extra plugin option so you can prefer timers over rAF?

[2019-04-21 20:20] manniL commented on #313
@pimlie Dropping rAF might be worth a try :relaxed:

[2019-04-22 17:00] hecktarzuli commented on #288
We'll have to check it out, thank you!

[2019-04-22 17:00] hecktarzuli commented on #259
We'll have to check it out, thank you!

[2019-04-22 17:13] hecktarzuli commented on #325
It seems (at least in Chrome) that the title shouldn't contain encoded text (&quot; &amp; etc..) because if you set the title via JS, it will show them as text instead of the chars they represent.  But it looks as though a straight <title>Something &amp; Something</title> shows up fine in source.  So if this lib encodes it, should it be?

[2019-04-23 01:45] merrylmr commented on #193
@hackuun hello ,Has this problem been solved?

[2019-04-23 07:04] pimlie commented on #193
@merrylmr This should be working fine, please create a new issue with a minimal reproduction if you experience a similar issue still

[2019-04-23 08:58] #313 closed

[2019-04-23 08:58] #348 closed

[2019-04-23 09:01] pimlie commented on #313
I have dropped using rAF and instead use a simple clear/setTimeout with a 10ms interval. Should be reasonable. Will be available in `rc.1` which I will probably release later today

[2019-04-23 09:22] merrylmr opened #349 "base doesn't render (in Nuxt)"
hi, @pimlie ,The problem is as follows
in nuxt.config.js:
![image](https://user-images.githubusercontent.com/21325085/56569470-9d29e800-65eb-11e9-9349-6fb0e198a849.png)

but  it doesn't render base tag.
![image](https://user-images.githubusercontent.com/21325085/56569585-d5c9c180-65eb-11e9-8fc6-7e98ca1dd84c.png)

[2019-04-23 09:35] pimlie commented on #349
Thanks for the report. Nuxt has its own base implementation and they ignore the base set within head: https://github.com/nuxt/nuxt.js/blob/f5bbc585eefb4f72f03a26f125319cf6592072af/packages/vue-renderer/src/renderers/ssr.js#L58

You can try to set [router.base](https://nuxtjs.org/api/configuration-router/#base) in your nuxt.config to `/`, but if you also really need the `target` it seems you are ou

[2019-04-23 09:35] #349 closed

[2019-04-23 09:37] pimlie commented on #322
Closing this as it should be resolved, please re-open or create a new issue if you are still experiencing issues

[2019-04-23 09:37] #322 closed

[2019-04-23 09:54] pimlie commented on #307
Copied the stale bot config from the nuxt repo and gave the bot access, so it should run in the next 24hrs

[2019-04-23 09:54] #307 closed

[2019-04-23 10:06] #310 closed

[2019-04-23 10:51] manniL commented on #198
I'd close here as it's not "that easy" 🙈

[2019-04-23 10:51] #198 closed

[2019-04-23 11:43] pimlie commented on #240
Btw, I am looking for suggestions how the api for this functionality should look like (especially from a SSR point of view). We would probably need to be able to run the listener in the local component scope, but the onload will always be on the global scope.

Potential issues I see are:
- when there are multiple Vue apps on a page
- when multiple components add the same script
  - without vmid

[2019-04-23 15:07] pimlie commented on #233
Just tried with one of the examples and @oahccc solution seems to work just fine (with file-loader configured in the webpack config for image files). That might very well be due to webpack updates since this issue was originally posted, but closing it for now. Please reopen or create a new issue with a reproduction if a problem still exists

[2019-04-23 15:07] #233 closed

[2019-04-23 15:14] pimlie commented on #44
Closing this issue as its an upstream caveat and the vue ssr docs explicitly warn against this behaviour: [Streaming Caveats](https://ssr.vuejs.org/guide/streaming.html#streaming-caveats)

[2019-04-23 15:14] #44 closed

[2019-04-30 11:42] #315 closed

[2019-04-30 11:42] #295 closed

[2019-04-30 11:42] #292 closed

[2019-04-30 11:42] #272 closed

[2019-04-30 11:42] #199 closed

[2019-04-30 11:42] #285 closed

[2019-04-30 11:42] #190 closed

[2019-05-02 14:39] leopiccionia commented on #247
Something like this would be neat, too, if not too abstract:
[code]

[2019-05-07 11:53] dgtlmoon commented on #226
@Preen is this a documentation issue?

[2019-05-07 11:56] dgtlmoon opened #358 "Bad markup in documentation"
Shouldnt ```{{{ title }}}``` be `{{ title }}` ?

[code]

[2019-05-07 11:59] pimlie commented on #358
Probably yes, would you please create a PR to change this? Thanks :)

[2019-05-09 14:57] X1machinemaker1X opened #361 "nuxt generate and spa"
So if I set mode: 'spa' in nuxt.config.js and use yarn(npm run) generate, the individual pages do not have the correct meta/title tags. Is this expected behavior? changing mode to 'universal' or just removing it makes the tags appear correctly.

[2019-05-10 06:33] pimlie commented on #361
No, this is not ofc :)

Could you create a reproduction of the issue?

[2019-05-10 11:13] georgeboot commented on #340
Same error here, both on `1.x` and `2.0.0-rc.1`.

I have the following `Home.vue` (created using `vue-cli` 3):
[code]

My `vscode` lints the `components` section with the following error:
[code]

[2019-05-10 15:10] pimlie commented on #340
@georgeboot I am not too experienced with TS but your error is about `components`, so why do you believe there is an issue with vue-meta?

[2019-05-16 05:07] X1machinemaker1X commented on #361
Sure, so just clone this repo https://github.com/panyana-research-group/panyana-research, run yarn to install packages, then you can run yarn generate to generate the static pages and look at the meta tags on a page, go into the nuxt.config.js and add mode: 'spa' (mode is universal by default) and see that the tags have changed.

[2019-05-16 14:21] georgeboot commented on #340
@pimlie when I remove the `metaInfo()` section, it works fine. Just as the reporter of this issue reports.

[2019-05-17 09:03] manniL commented on #340
Maybe @kevinmarrec can help out? :relaxed:

[2019-05-17 09:11] kevinmarrec commented on #340
@georgeboot Do you have `vue-meta` under `types` array property in `tsconfig.json` ? It's needed to tell TypeScript to look for `vue-meta` types and correctly extend Vue Component options with `metaInfo`.

[code]

[2019-05-17 09:17] kevinmarrec commented on #340
@nomadoda To access and have typed `this` the only way is to have an external interface that has the shape of your data

[code]
and then do
[code]

It works better with Class components where you just have to do `(this: MyClass)`

[2019-05-20 07:24] youngbobby opened #366 "Issue with accessing Vuex Computed Property"
Hi,

I'm finding it difficult to access a computed properties from Vuex. I've tried everything I read from the examples and it still doesn't seem to work.

I am getting this error: **Cannot read property 'job' of undefined**

**Code:**
[code]

Any help would be greatly appreciated.

[2019-05-20 07:29] pimlie commented on #366
Please see: https://vue-meta.nuxtjs.org/faq/component-props.html

[2019-05-20 07:39] youngbobby commented on #366
Thank you so much!

[2019-05-20 07:39] #366 closed

[2019-05-20 09:49] youngbobby opened #367 "Truncate Long Texts if above certain length"
Is it possible to truncate long texts (in my case, Meta descriptions, og:description etc) with ellipses (...) appended at the end ?

[2019-05-20 14:42] manniL commented on #367
Pretty sure you can do that in userland :relaxed:

[2019-05-20 16:56] youngbobby commented on #367
You're right. It turns out my problem is not a truncation problem. For some weird reasons, I am not able to access all my Vuex computed properties in **metaInfo**.

[code]

`this.title` returns fine but `this.description` and every other data returns undefined which made me think I was not truncating the string properly

I could really use some help :(

[2019-05-20 18:28] youngbobby commented on #367
Fixed.

[2019-05-20 18:28] #367 closed

[2019-05-21 15:55] sts-ryan-holton commented on #361
I'm experiencing the same issue, I have `mode: "spa"` in my Nuxt JS site, and meta tags in my pages. They don't appear to be generated in the generated html files.

[2019-05-21 16:00] JoshuaRobertson commented on #361
I've also experienced the same issue as above. The meta title displays correctly on the web page but isn't generated correctly in the page source.

[code]

[2019-05-21 16:02] manniL commented on #361
That's because it is not server-side rendered (either on the fly via `mode: 'universal'` or `nuxt generate`).

[2019-05-21 16:15] sts-ryan-holton commented on #361
@manniL

In `spa` mode, I get a `dist/` folder with generated static pages which I need to upload to my server, these pages should contain the generated meta title and description from the `head ()` defined in each page.

When trying to switch my mode to `universal` and running `npm run build && npm run generate` afterwards, all of my pages appear to get an error in the console:

[code]

In an ear

[2019-05-21 17:16] youngbobby commented on #367
Would you believe if I told you, there was no bug in the first place? The `meta` code I was looking for was there the whole time! However, it was not outputted with the same convention as the code was written so ... there, I felt embarrassed.

As for truncating long texts which is the original reason why this issue was opened, I ended up using the code below:

[code]

Usage:

[code]

As seen on [S

[2019-05-21 20:04] pimlie commented on #361
@X1machinemaker1X thanks for the reproduction

Do you guys mean that:
- the generated files on disk do not have the meta information set you expect?
- or do you mean that after you open those files in the browser and inspect the source they dont have the correct meta information?

If its the first, then I believe thats expected behaviour for SPA mode (but in any case that would be a Nuxt issue, no

[2019-05-21 21:04] X1machinemaker1X commented on #361
@pimlie the generated files do not have the meta info that I expect. (which also means that inspecting the head doesn't as well)

[2019-05-21 22:19] pimlie commented on #361
In that case I will close this issue as its not related to vue-meta.

But afaik that is just how **Single Page** Application mode is meant to work in Nuxt. Eg if you run `nuxt generate` in SPA mode and check the generated files (`find dist -name '*.html' -exec md5sum {} \`) then you will see that all the `index.html` files are exactly the same.

But ofc feel free to open an issue at: https://cmty.

[2019-05-21 22:19] #361 closed

[2019-05-27 01:08] guanzo opened #381 "Head scripts are reappended and reexecuted on navigation"
### Version

[2.7.1](https://github.com/nuxt.js/releases/tag/2.7.1)

### Reproduction link

[https://github.com/guanzo/codesandbox-nuxt](https://github.com/guanzo/codesandbox-nuxt)

### Steps to reproduce

[code]
Open the webpage and dev tools, go to the Elements tab, expand the ` <head>` node

Note the position of the element
[code]

Note the element `<div id="arc-widget"></div>` at the bottom of

[2019-05-28 09:21] derz opened #370 "Feature Request: add scripts right after opening <body> tag"
Right now it is possible to add a script before the closing </body> tag using the `body: true` flag, however it is often desired to also have the option to add them right after the opening <body> (for example to implement this one: https://github.com/nuxt-community/modules/issues/263). Any chance this gets impelmented? I'm happy to assist/implement if we can decide/find a proper API .

[2019-05-30 14:13] anschwa opened #371 "Error when using v2.0.0-rc.1 in IE 11"
Hello,

My app will not load in IE 11 if I import the `vue-meta` package.
In the browser I get a white page and in the console I see an error ` SCRIPT1006: Expected ')'` in `app.js`

This was not an issue when previously using `vue-meta 1.6.0`, but I would like to use the release candidate because it finally solves the non-visible tab issue.

[2019-05-31 10:00] pimlie commented on #371
How are you using vue-meta? Do you have setup your transpiler correctly to target IE11?

Eg the error appears to originate from
[code]
as IE11 doesnt support default values for function arguments. But if I look at the build file that part is correctly transpiled to
[code]

[2019-05-31 10:03] pimlie commented on #370
From vue-meta's side this is easily implemented, but it would be up to Nuxt to use/implement that extra functionality.

@manniL @pi0 @clarkdo Wdyt?

[2019-05-31 13:27] anschwa commented on #371
This is how my project is setup to hopefully target IE11 correctly. Does it look right to you?
[code]

[code]

[code]

[code]

Thanks!

[2019-05-31 14:25] pimlie commented on #371
Looks good, but default babel config doesnt transpile anything from `node_modules` :)

You could either fix that or try to import the web-build of vue-meta (cause now you are importing the CommonJS build): `import Meta from 'vue-meta/lib/vue-meta'`

[2019-05-31 15:24] anschwa commented on #371
@pimlie Importing from `vue-meta/lib/vue-meta` seems to work!

 It looked like changing the babel config to include `node_modules` would have worked as well, but I'm not sure which is the best approach to take. My understanding was that the `vue-cli` would take care of most of this package bundling on its own when building the app.
[code]

[2019-05-31 15:24] #371 closed

[2019-06-01 08:48] pimlie opened #372 "Support multiple vue app's on one page (i.e. vuetify 2.0 compatiblity)"
Reported by @aldarund on discord.

If there are multiple top-level Vue-components (e.g. two apps or 1 app with off-document components) then the meta data will be overwritten completely when each app updates with the data (or lack of) of that vue app only. Eg in the case of off-document components which dont specify any metainfo , this means that all metadata is removed from the webpage once the o

[2019-06-02 23:46] drewbaker opened #376 "head bodyAttrs not reactive on initial page load"
### Version

[v2.8.0](https://github.com/nuxt.js/releases/tag/v2.8.0)

### Reproduction link

[https://codesandbox.io/s/codesandboxnuxt-ewiy9](https://codesandbox.io/s/codesandboxnuxt-ewiy9)

### Steps to reproduce

In a Layout, use the head() function to set a class using bodyAttrs from Vuex, then on a Pages mounted event change that class in the store, it does not change the head on a new page l

[2019-06-03 18:56] jacstrong opened #375 "Need to add comment to header"
### What problem does this feature solve?

There was a question a while back similar to this about adding a
<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c9305">#c9305</a>)</em></sub></div>

[2019-06-04 13:02] #358 closed

[2019-06-04 17:13] pimlie commented on #376
Transferred this to vue-meta. In short, the workaround is to use $nextTick in your mounted hook to set the dark theme (both if you are using v1.x as v2.0rc)

Not sure what the exact problem is in vue-meta 1.x, but for 2.0rc the issue seems to be that vue-meta is also initialised in the mounted hook and all updates are blocked until vue-meta has initialized. Will add a fix for this behaviour in v2

[2019-06-04 18:09] drewbaker commented on #376
Thanks Pim. I tired this:
[code]

But it still doesn't work on initial page load. I have it on the sandbox too if you want to see.

[2019-06-04 18:29] pimlie commented on #376
Hmm, in that case I probably tested it wrong or had lockfile/npm cache issues and the $nextTick only works for v2rc. Its probably related in v1 due to the fact that the first metadata update after page hydration only removes the ssr flag but (in v1) but there is no ssr check on page load so your mutation does trigger a metadata update but doesnt apply anything

[2019-06-04 18:37] pimlie commented on #375
Thanks, in that case then this is a duplicate of 241 and can be closed :)

[2019-06-04 18:37] #375 closed

[2019-06-05 23:14] liftyourgame opened #378 "Not rendering meta tags"
I've been experimenting with vue-meta in a Vuetify app. I'm not using Nuxt so I'm expecting vue-meta to work client side.

It seems to render titles correctly but "meta" tags are not being rendered.

I've stepped through the code in Chrome Dev tools and it seems the tags are being generated but for some reason are not being added to Head when I look in Chrome Dev tools sources for Index page.

In

[2019-06-05 23:29] drewbaker commented on #376
So I think I've run into this same bug when trying to set `title` in the head too, where `title` is coming from a Apollo query.

[code]

When coming off the server, page.title is empty, and head() isn't waiting until it comes back before setting it. So essentially head() is useless for SEO tags set on the Page, they can only be set from `nuxtServerInit` and going through the Vuex.

[2019-06-06 07:42] pimlie commented on #378
Please note that `refreshOnceOnNavigation` is a vue-meta v2 feature, it doesnt do anything in v1.x.

Unfortunately I cant reproduce this behaviour, see : https://jsfiddle.net/9dLg1fjr/ which works both with vue-meta v1 as v2

[2019-06-06 07:49] liftyourgame commented on #378
Thanks for your attention @pimlie

Your fiddle generates head tag:

[code]

How do I yarn add v2? Not in the documentation.

[2019-06-06 07:50] pimlie commented on #378
Use the `next` tag, eg run `yarn add vue-meta@next`

We will probably release v2 in the next week :)

[2019-06-06 08:01] #376 closed

[2019-06-06 08:40] #372 closed

[2019-06-06 22:01] pimlie commented on #381
Transferred this to vue-meta repo as it appears to be a vue-meta bug indeed.

More strangely, apparantly I even deliberately 'fixed' the tests to include this difference: https://github.com/nuxt/vue-meta/blob/master/test/utils/meta-info-data.js#L127

Will have a look tomorrow whether that was just a brain fart or that there was more to it.